lorasensors2homeassistant.json_v2_1.json
[
    {
        "id": "d42fd95bb7f599b1",
        "type": "group",
        "z": "7a9ca1740ef5409d",
        "name": "Lora integration for Home Assistant",
        "style": {
            "label": true
        },
        "nodes": [
            "0811e9a91555ba70",
            "f7f92d03a845735d",
            "0593a46d82f6a444",
            "277b3a3874311fa2",
            "e87e4d81af556fc4"
        ],
        "x": 8,
        "y": 59,
        "w": 1304,
        "h": 1828
    },
    {
        "id": "0811e9a91555ba70",
        "type": "group",
        "z": "7a9ca1740ef5409d",
        "g": "d42fd95bb7f599b1",
        "name": "Command (downlink) to lora device",
        "style": {
            "label": true
        },
        "nodes": [
            "aec8edf34012af7c",
            "aa7c9ebbd61f1b02",
            "c3a1e7ae692d16e7",
            "30363162363fcc86",
            "8a7c99dc692abf9b",
            "ed89c72c99635754",
            "1733276931ed99cc",
            "c9c6a06cb9f7b048",
            "02f90d6d8dca9c43",
            "5cc6a98e24263c33",
            "93f6102cd0a394d8",
            "0814595f74152804",
            "f5a7f4f0b03f1d3a",
            "501c581ab654d33a"
        ],
        "x": 34,
        "y": 1519,
        "w": 1212,
        "h": 342
    },
    {
        "id": "aec8edf34012af7c",
        "type": "function",
        "z": "7a9ca1740ef5409d",
        "g": "0811e9a91555ba70",
        "name": "Downlink for lora and update HA",
        "func": "msg.settings = flow.get(\"settings\")\nif(!msg.result) {\n    msg.result = {}\n}\n\nmsg.result.manufacturer = msg.topic.split(\"/\")[1]\nmsg.result.application = msg.topic.split(\"/\")[2]\nmsg.result.deviceName = msg.topic.split(\"/\")[3]\nmsg.result.join_eui = msg.topic.split(\"/\")[4]\nmsg.result.integration = msg.topic.split(\"/\")[6]\nmsg.result.sensor = msg.topic.split(\"/\")[7]\nmsg.result.value = msg.payload\n\nmsg.result.test = msg.settings.joinKey2lorakey2ha[msg.result.join_eui][msg.result.integration]\n\n\n// ######################\n// ##  create lora downlink command\n// ######################\nmsg.result.loraDownlinkCmd = []\nfor (const [key, value] of Object.entries(msg.settings.joinKey2lorakey2ha[msg.result.join_eui][msg.result.integration])) {\n    if ( value.name == msg.result.sensor ) {\n        if ( value.downlink ) {\n            var downlinkValue = msg.result.value\n            if ( value.downlink[downlinkValue] ) {\n                downlinkValue = value.downlink[downlinkValue]\n            }\n            msg.result.downlinkCmd = value.downlink.cmd\n            var objLora = {\n                topic: \"v3/\" + msg.result.application + \"@ttn/devices/\" + msg.result.deviceName + \"/down/push\",\n                payload: {\n                    downlinks: [\n                        {\n                            f_port: value.downlink.fPort,\n                            decoded_payload: { [value.downlink.cmd]: downlinkValue },\n                            priority: \"NORMAL\",\n                            confirmed: false\n                        }\n                    ]\n                },\n                application: msg.result.application,\n            }\n            msg.result.loraDownlinkCmd.push(objLora)\n        }\n    }\n}\n\n// ######################\n// ##  create update Home Assistant\n// ######################\nmsg.result.homeassistantCmd = []\nfor (const [integration, integrationValue] of Object.entries(msg.settings.joinKey2lorakey2ha[msg.result.join_eui])) {\n    if ( integration != \"button\" ) {\n        for (const [loraKey, sensorValue] of Object.entries(integrationValue)) {\n            if ( sensorValue.downlink ) {\n                if ( sensorValue.downlink.cmd == msg.result.downlinkCmd ) {\n                    var objHa = {\n                        topic: \"lora2nodered2mqtt/\" + msg.result.manufacturer + \"/\" + msg.result.deviceName + \"/get/\" + integration + \"/\" + sensorValue.name,\n                        payload: { value: msg.result.value },\n                    }\n                    msg.result.homeassistantCmd.push(objHa)\n                }\n            }\n        }\n    }\n}\n\n\n// ######################\n// ##  create lora downlink command\n// ######################\nfor (const msgLora of msg.result.loraDownlinkCmd) {\n    node.send([null, null, msgLora])\n}\n\n\n// ######################\n// ##  send update Home Assistant\n// ######################\nfor (const msgHa of msg.result.homeassistantCmd) {\n    node.send([null, msgHa, null])\n}\n\nreturn [msg, null, null]",
        "outputs": 3,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 1600,
        "wires": [
            [
                "aa7c9ebbd61f1b02"
            ],
            [
                "c3a1e7ae692d16e7",
                "811649a28fe92331"
            ],
            [
                "30363162363fcc86",
                "8a7c99dc692abf9b"
            ]
        ],
        "outputLabels": [
            "debug",
            "output mqtt HA device values",
            "output mqtt downlink Lora server"
        ]
    },
    {
        "id": "aa7c9ebbd61f1b02",
        "type": "debug",
        "z": "7a9ca1740ef5409d",
        "g": "0811e9a91555ba70",
        "name": "debug downlink commands",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 1560,
        "wires": []
    },
    {
        "id": "c3a1e7ae692d16e7",
        "type": "debug",
        "z": "7a9ca1740ef5409d",
        "g": "0811e9a91555ba70",
        "name": "output mqtt haValue",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 1600,
        "wires": []
    },
    {
        "id": "30363162363fcc86",
        "type": "debug",
        "z": "7a9ca1740ef5409d",
        "g": "0811e9a91555ba70",
        "name": "output mqtt downlink",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 1640,
        "wires": []
    },
    {
        "id": "8a7c99dc692abf9b",
        "type": "junction",
        "z": "7a9ca1740ef5409d",
        "g": "0811e9a91555ba70",
        "x": 340,
        "y": 1680,
        "wires": [
            [
                "93f6102cd0a394d8",
                "0814595f74152804"
            ]
        ]
    },
    {
        "id": "ed89c72c99635754",
        "type": "debug",
        "z": "7a9ca1740ef5409d",
        "g": "0811e9a91555ba70",
        "name": "output",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 1680,
        "wires": []
    },
    {
        "id": "1733276931ed99cc",
        "type": "debug",
        "z": "7a9ca1740ef5409d",
        "g": "0811e9a91555ba70",
        "name": "output",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 1780,
        "wires": []
    },
    {
        "id": "c9c6a06cb9f7b048",
        "type": "mqtt in",
        "z": "7a9ca1740ef5409d",
        "d": true,
        "g": "0811e9a91555ba70",
        "name": "HomeAssistant",
        "topic": "mqtt2nodered2lora/#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "d02c3570ba850c4f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 1600,
        "wires": [
            [
                "aec8edf34012af7c"
            ]
        ]
    },
    {
        "id": "02f90d6d8dca9c43",
        "type": "junction",
        "z": "7a9ca1740ef5409d",
        "g": "0811e9a91555ba70",
        "x": 880,
        "y": 1680,
        "wires": [
            [
                "ed89c72c99635754",
                "501c581ab654d33a"
            ]
        ]
    },
    {
        "id": "5cc6a98e24263c33",
        "type": "junction",
        "z": "7a9ca1740ef5409d",
        "g": "0811e9a91555ba70",
        "x": 880,
        "y": 1780,
        "wires": [
            [
                "1733276931ed99cc",
                "f5a7f4f0b03f1d3a"
            ]
        ]
    },
    {
        "id": "93f6102cd0a394d8",
        "type": "function",
        "z": "7a9ca1740ef5409d",
        "g": "0811e9a91555ba70",
        "name": "TTN - app-01",
        "func": "if (msg.application == \"app-01\") {\n    return msg;\n}\n\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 1680,
        "wires": [
            [
                "02f90d6d8dca9c43"
            ]
        ]
    },
    {
        "id": "0814595f74152804",
        "type": "function",
        "z": "7a9ca1740ef5409d",
        "g": "0811e9a91555ba70",
        "name": "TTN - app-02",
        "func": "if (msg.application == \"app-02\") {\n    return msg;\n}\n\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 1780,
        "wires": [
            [
                "5cc6a98e24263c33"
            ]
        ]
    },
    {
        "id": "f5a7f4f0b03f1d3a",
        "type": "mqtt out",
        "z": "7a9ca1740ef5409d",
        "d": true,
        "g": "0811e9a91555ba70",
        "name": "TTN - app-02",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "34b3812930585fe6",
        "x": 1030,
        "y": 1820,
        "wires": []
    },
    {
        "id": "501c581ab654d33a",
        "type": "mqtt out",
        "z": "7a9ca1740ef5409d",
        "d": true,
        "g": "0811e9a91555ba70",
        "name": "TTN - app-01",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "364cba795bd47ac5",
        "x": 1030,
        "y": 1720,
        "wires": []
    },
    {
        "id": "d02c3570ba850c4f",
        "type": "mqtt-broker",
        "name": "HomeAssistant",
        "broker": "homeassistant.local",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "34b3812930585fe6",
        "type": "mqtt-broker",
        "name": "TTN - app-02",
        "broker": "eu1.cloud.thethings.network",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "364cba795bd47ac5",
        "type": "mqtt-broker",
        "name": "TTN - app-01",
        "broker": "eu1.cloud.thethings.network",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "f7f92d03a845735d",
        "type": "comment",
        "z": "7a9ca1740ef5409d",
        "g": "d42fd95bb7f599b1",
        "name": "url's for mqtt integration",
        "info": "https://www.home-assistant.io/integrations/mqtt/\n\n\n==== The options are implemented ====\n\nhttps://www.home-assistant.io/integrations/sensor/\nhttps://www.home-assistant.io/integrations/sensor.mqtt/\n\nhttps://www.home-assistant.io/integrations/binary_sensor/\nhttps://www.home-assistant.io/integrations/binary_sensor.mqtt/\n\nhttps://www.home-assistant.io/integrations/switch/\nhttps://www.home-assistant.io/integrations/switch.mqtt/\n\n\n\n==== Following are not yet implemented and probably there are more options ====\n\nhttps://www.home-assistant.io/integrations/climate/\nhttps://www.home-assistant.io/integrations/climate.mqtt/\n\nhttps://www.home-assistant.io/integrations/valve/\nhttps://www.home-assistant.io/integrations/valve.mqtt/\n\n\n==== diagnostics data ====\nhttps://community.home-assistant.io/t/entity-category-mqtt-diagnostic-and-config/609731\n\n\n==== icons ====\nhttps://pictogrammers.com/library/mdi/\n",
        "x": 1060,
        "y": 100,
        "wires": []
    },
    {
        "id": "0593a46d82f6a444",
        "type": "comment",
        "z": "7a9ca1740ef5409d",
        "g": "d42fd95bb7f599b1",
        "name": "Version 2.1   (2024-12-31)",
        "info": "",
        "x": 170,
        "y": 100,
        "wires": []
    },
    {
        "id": "277b3a3874311fa2",
        "type": "group",
        "z": "7a9ca1740ef5409d",
        "g": "d42fd95bb7f599b1",
        "name": "configuration",
        "style": {
            "label": true
        },
        "nodes": [
            "4c6146eae98b7090",
            "cfdac05e6051ca19",
            "9be393fd4f330e28"
        ],
        "x": 34,
        "y": 179,
        "w": 1132,
        "h": 82
    },
    {
        "id": "4c6146eae98b7090",
        "type": "debug",
        "z": "7a9ca1740ef5409d",
        "g": "277b3a3874311fa2",
        "name": "debug settings",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 220,
        "wires": []
    },
    {
        "id": "cfdac05e6051ca19",
        "type": "inject",
        "z": "7a9ca1740ef5409d",
        "g": "277b3a3874311fa2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "2",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 220,
        "wires": [
            [
                "9be393fd4f330e28"
            ]
        ]
    },
    {
        "id": "9be393fd4f330e28",
        "type": "function",
        "z": "7a9ca1740ef5409d",
        "g": "277b3a3874311fa2",
        "name": "Settings to flow variable (flow.set)",
        "func": "// general settings\nmsg.settings = {\n    loraServer: \"https://eu1.cloud.thethings.network\",\n\n    joinKey2lorakey2ha: {\n        \"70B3D52DD3000000\": { \n            device: {\n                manufacturer: { name: \"MClimate\" },\n                model: { name: \"Vicki - LoRaWAN Smart Radiator Thermostat\" },\n                deviceVersions_software: { name: \"sw_version\" },\n                deviceVersions_hardware: { name: \"hw_version\" },\n                climate_primary_key: { name: \"radiator_thermostat\" },\n                number_primary_key: { name: \"temperature_control\" },\n            },\n            sensor: {\n                rssi: { name: \"signal_strength\", device_class: \"signal_strength\", unit_of_measurement: \"dBm\", icon: \"mdi:signal\", entity_category: \"diagnostic\" },\n                batteryPct: { name: \"battery\", device_class: \"battery\", unit_of_measurement: \"%\", entity_category: \"diagnostic\"},\n                relativeHumidity: { name: \"humidity\", device_class: \"humidity\", unit_of_measurement: \"%\" },\n                valvePct: { name: \"valve_open_status\", device_class: \"None\", unit_of_measurement: \"%\", icon: \"mdi:pipe-valve\" }\n            },\n            binary_sensor: {\n                attachedBackplate: { name: \"attached_backplate\", icon: \"mdi:engine\" },\n                childLock: { name: \"child_lock\", icon: \"mdi:lock\" },\n                openWindow: { name: \"open_window_detection\", icon: \"mdi:window-closed-variant\" },\n            },\n            climate: {\n                sensorTemperature: { name: \"current_temperature\" },\n                targetTemperature: { name: \"radiator_thermostat\", device_class: \"temperature\", unit_of_measurement: \"°C\", downlink: { fPort: 1, cmd: \"setTargetTemperature\" } },\n                temperatureRangeSettings_min: { name: \"min_temp\", value_default: 6 },\n                temperatureRangeSettings_max: { name: \"max_temp\", value_default: 29 },\n                system_mode: { name: \"system_mode\", value_default: \"heat\" },\n                attachedBackplate: { name: \"attached_backplate\" },\n                temp_step: { name: \"temp_step\", value: 1 },\n            },\n            number: {\n                temperatureRangeSettings_min: { name: \"min\", value_default: 6 },\n                temperatureRangeSettings_max: { name: \"max\", value_default: 29 },\n                targetTemperature: { name: \"temperature_control\", device_class: 'temperature', unit_of_measurement: \"°C\", downlink: { fPort: 1, cmd: \"setTargetTemperature\" } },\n                step: { name: \"step\", value: 1 },\n                mode: { name: \"mode\", value: \"slider\" }\n            },\n            button: {\n                request_device_settings: { name: \"request_device_settings\", device_class: \"None\", icon: \"mdi:cog-outline\", entity_category: \"config\", downlink: { fPort: 1, cmd: \"getAllParams\" } },\n                request_device_version: { name: \"request_device_version\", device_class: \"None\", icon: \"mdi:cog-outline\", entity_category: \"config\", downlink: { fPort: 1, cmd: \"getDeviceVersions\" } },\n            }\n        },\n        \"70B3D52DD8000000\": {\n            device: {\n                manufacturer: { name: \"MClimate\" },\n                model: { name: \"WirelessThermostat - LoRaWAN\"},\n                deviceVersions_software: { name: \"sw_version\" },\n                deviceVersions_hardware: { name: \"hw_version\" },\n                climate_primary_key: { name: \"thermostat\" },\n                number_primary_key: { name: \"temperature_control\" },\n            },\n            sensor: {\n                rssi: { name: \"signal_strength\", device_class: \"signal_strength\", unit_of_measurement: \"dBm\", icon: \"mdi:signal\", entity_category: \"diagnostic\" },\n                batteryPct: { name: \"battery\", device_class: \"battery\", unit_of_measurement: \"%\", entity_category: \"diagnostic\" },\n                relativeHumidity: { name: \"humidity\", device_class: \"humidity\", unit_of_measurement: \"%\" },\n                lux: { name: \"light\", device_class: \"illuminance\", unit_of_measurement: \"lx\" },\n            },\n            climate: {\n                sensorTemperature: { name: \"current_temperature\" },\n                targetTemperature: { name: \"thermostat\", device_class: \"temperature\", unit_of_measurement: \"°C\", downlink: { fPort: 1, cmd: \"setTargetTemperature\" } },\n                temperatureRangeSettings_min: { name: \"min_temp\", value_default: 6 },\n                temperatureRangeSettings_max: { name: \"max_temp\", value_default: 29 },\n                system_mode: { name: \"system_mode\", value: \"heat\" },\n                temp_step: { name: \"temp_step\", value: 1 },\n            },\n            number: {\n                temperatureRangeSettings_min: { name: \"min\", value_default: 6 },\n                temperatureRangeSettings_max: { name: \"max\", value_default: 29 },\n                targetTemperature: { name: \"temperature_control\", device_class: 'temperature', unit_of_measurement: \"°C\", downlink: { fPort: 1, cmd: \"setTargetTemperature\" } },\n                step: { name: \"step\", value: 1 },\n                mode: { name: \"mode\", value: \"slider\" }\n            },\n            button: {\n                request_device_settings: { name: \"request_device_settings\", device_class: \"None\", icon: \"mdi:cog-outline\", entity_category: \"config\", downlink: { fPort: 1, cmd: \"getAllParams\" } },\n                request_device_version: { name: \"request_device_version\", device_class: \"None\", icon: \"mdi:cog-outline\", entity_category: \"config\", downlink: { fPort: 1, cmd: \"getDeviceVersions\" } },\n            }\n        },\n        \"24E124C0002A0001\": {\n            device: { \n                manufacturer: { name: \"Milesight\" },\n                model: { name: \"WS523 - Smart Portable Socket\" },\n                softwareVersion: { name: \"sw_version\" },\n                hardwareVersion: { name: \"hw_version\" },\n            },\n            sensor: {\n                rssi: { name: \"signal_strength\", device_class: \"signal_strength\", unit_of_measurement: \"dBm\", icon: \"mdi:signal\", entity_category: \"diagnostic\" },\n                factor: { name: \"power_factor\", device_class: \"power_factor\", unit_of_measurement: \"%\" },\n                power: { name: \"power\", device_class: \"power\", unit_of_measurement: \"W\" },\n                power_sum: { name: \"energy_total\", device_class: \"energy\", unit_of_measurement: \"Wh\" },\n                voltage: { name: \"voltage\", device_class: \"voltage\", unit_of_measurement: \"V\" }\n            },\n            switch: {\n                state: { name: \"switch\", downlink: { fPort: 1, cmd: \"setState\", on: \"open\", off: \"close\" } }\n            },\n        },\n        \"70B3D5FFFE0B5002\": { \n            device: { \n                manufacturer: { name: \"OfficeSense\" },\n                model: { name: \"Comfort\" },\n                swVersion: { name: \"sw_version\" },\n                hwVersion: { name: \"hw_version\" },\n            },\n            sensor: {\n                rssi: { name: \"signal_strength\", device_class: \"signal_strength\", unit_of_measurement: \"dBm\", icon: \"mdi:signal\", entity_category: \"diagnostic\" },\n                vddPct: { name: \"battery\", device_class: \"battery\", unit_of_measurement: \"%\", entity_category: \"diagnostic\"},\n                humidity: { name: \"humidity\", device_class: \"humidity\", unit_of_measurement: \"%\" },\n                tempC: { name: \"temperature\", device_class: \"temperature\", unit_of_measurement: \"°C\" },\n            },\n            button: {\n                request_device_version: { name: \"request_device_version\", device_class: \"None\", icon: \"mdi:cog-outline\", entity_category: \"config\", downlink: { fPort: 200, cmd: \"getDeviceVersions\" } },\n            }\n        },\n        \"70B3D5FFFE0B5502\": { \n            device: { \n                manufacturer: { name: \"OfficeSense\" },\n                model: { name: \"Comfort\" },\n                swVersion: { name: \"sw_version\" },\n                hwVersion: { name: \"hw_version\" },\n            },\n            sensor: {\n                rssi: { name: \"signal_strength\", device_class: \"signal_strength\", unit_of_measurement: \"dBm\", icon: \"mdi:signal\", entity_category: \"diagnostic\" },\n                vddPct: { name: \"battery\", device_class: \"battery\", unit_of_measurement: \"%\", entity_category: \"diagnostic\"},\n                humidity: { name: \"humidity\", device_class: \"humidity\", unit_of_measurement: \"%\" },\n                tempC: { name: \"temperature\", device_class: \"temperature\", unit_of_measurement: \"°C\" },\n                co2: { name: \"carbon_dioxide\", device_class: \"carbon_dioxide\", unit_of_measurement: \"ppm\" },\n                sound: { name: \"sound\", device_class: \"sound_pressure\", unit_of_measurement: \"dBA\" },\n                lux: { name: \"light\", device_class: \"illuminance\", unit_of_measurement: \"lx\" },\n            },\n            button: {\n                request_device_version: { name: \"request_device_version\", device_class: \"None\", icon: \"mdi:cog-outline\", entity_category: \"config\", downlink: { fPort: 200, cmd: \"getDeviceVersions\" } },\n            }\n        },\n        \"70B3D5FFFE0B5005\": { \n            device: { \n                manufacturer: { name: \"OfficeSense\" },\n                model: { name: \"Desk\" },\n                swVersion: { name: \"sw_version\" },\n                hwVersion: { name: \"hw_version\" },\n            },\n            sensor: {\n                vddPct: { name: \"battery\", device_class: \"battery\", unit_of_measurement: \"%\", entity_category: \"diagnostic\"},\n                rssi: { name: \"signal_strength\", device_class: \"signal_strength\", unit_of_measurement: \"dBm\", icon: \"mdi:signal\", entity_category: \"diagnostic\" },\n            },\n            binary_sensor: {\n                occupied: { name: \"occupancy\", device_class: \"occupancy\" }\n            },\n            button: {\n                request_device_version: { name: \"request_device_version\", device_class: \"None\", icon: \"mdi:cog-outline\", entity_category: \"config\", downlink: { fPort: 200, cmd: \"getDeviceVersions\" } },\n            }\n        },\n        \"70B3D5FFFE0B5505\": { \n            device: { \n                manufacturer: { name: \"OfficeSense\" },\n                model: { name: \"Desk\" },\n                swVersion: { name: \"sw_version\" },\n                hwVersion: { name: \"hw_version\" },\n            },\n            sensor: {\n                vddPct: { name: \"battery\", device_class: \"battery\", unit_of_measurement: \"%\", entity_category: \"diagnostic\"},\n                rssi: { name: \"signal_strength\", device_class: \"signal_strength\", unit_of_measurement: \"dBm\", icon: \"mdi:signal\", entity_category: \"diagnostic\" },\n            },\n            binary_sensor: {\n                occupied: { name: \"occupancy\", device_class: \"occupancy\" }\n            },\n            button: {\n                request_device_version: { name: \"request_device_version\", device_class: \"None\", icon: \"mdi:cog-outline\", entity_category: \"config\", downlink: { fPort: 200, cmd: \"getDeviceVersions\" } },\n            }\n        },\n        \"70B3D5FFFE0B5001\": { \n            device: { \n                manufacturer: { name: \"OfficeSense\" },\n                model: { name: \"Presence\" },\n                swVersion: { name: \"sw_version\" },\n                hwVersion: { name: \"hw_version\" },\n            },\n            sensor: {\n                rssi: { name: \"signal_strength\", device_class: \"signal_strength\", unit_of_measurement: \"dBm\", icon: \"mdi:signal\", entity_category: \"diagnostic\" },\n                vddPct: { name: \"battery\", device_class: \"battery\", unit_of_measurement: \"%\", entity_category: \"diagnostic\"},\n                humidity: { name: \"humidity\", device_class: \"humidity\", unit_of_measurement: \"%\" },\n                tempC: { name: \"temperature\", device_class: \"temperature\", unit_of_measurement: \"°C\" },\n            },\n            binary_sensor: {\n                occupied: { name: \"occupancy\", device_class: \"occupancy\" }\n            },\n            button: {\n                request_device_version: { name: \"request_device_version\", device_class: \"None\", icon: \"mdi:cog-outline\", entity_category: \"config\", downlink: { fPort: 200, cmd: \"getDeviceVersions\" } },\n            }\n        },\n        \"70B3D5FFFE0B5501\": { \n            device: { \n                manufacturer: { name: \"OfficeSense\" },\n                model: { name: \"Presence\" },\n                swVersion: { name: \"sw_version\" },\n                hwVersion: { name: \"hw_version\" },\n            },\n            sensor: {\n                vddPct: { name: \"battery\", device_class: \"battery\", unit_of_measurement: \"%\", entity_category: \"diagnostic\"},\n                rssi: { name: \"signal_strength\", device_class: \"signal_strength\", unit_of_measurement: \"dBm\", icon: \"mdi:signal\", entity_category: \"diagnostic\" },\n                humidity: { name: \"humidity\", device_class: \"humidity\", unit_of_measurement: \"%\" },\n                tempC: { name: \"temperature\", device_class: \"temperature\", unit_of_measurement: \"°C\" },\n            },\n            binary_sensor: {\n                occupied: { name: \"occupancy\", device_class: \"occupancy\" }\n            },\n            button: {\n                request_device_version: { name: \"request_device_version\", device_class: \"None\", icon: \"mdi:cog-outline\", entity_category: \"config\", downlink: { fPort: 200, cmd: \"getDeviceVersions\" } },\n            }\n        },\n    },\n}\n\nflow.set( \"settings\", msg.settings )\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 220,
        "wires": [
            [
                "4c6146eae98b7090"
            ]
        ]
    },
    {
        "id": "e87e4d81af556fc4",
        "type": "group",
        "z": "7a9ca1740ef5409d",
        "g": "d42fd95bb7f599b1",
        "name": "data input from lora devices",
        "style": {
            "label": true
        },
        "nodes": [
            "404b2343936258b9",
            "80d914b5fe193906",
            "249598b7212ccd1b",
            "5ad563de3a890fbb",
            "811649a28fe92331",
            "8cf087146547e1fe",
            "0e09576b3b8feb93",
            "574f4c8f709974fe",
            "f2d740d5f882f894",
            "7c0efc8587a662b6",
            "b05c2e2c1f69cd33",
            "add62f80e485a24b",
            "63e08a8e22366226",
            "b191aeb8d1229a8f",
            "1d8aa8981c019d49",
            "9365f656f2b00e0c",
            "cf12601debd36317",
            "79e5c56f59c5649f",
            "307f6657f377957a",
            "70d0f3aa8d44515d",
            "29107e2756b233b7",
            "aa2963eb51979f83",
            "9bda849aa38f9524",
            "8b5ada43b42cba7f",
            "183dff335dc649d1",
            "2a71e9dde76c9e5f",
            "f2680ebb75ef201c",
            "5b8ef81ed0f9a33d",
            "cbf79f5cb6731c1e",
            "9ec2914a13b46eec",
            "70fe974ef2d6ab6d",
            "649abe3d65d3cc72",
            "5cddcb2323475916",
            "40f1cace4e946a11",
            "3c65fda17011555b",
            "ad110707850c4877",
            "b9d37ff720de133a",
            "feaf82e9da3ebddd"
        ],
        "x": 34,
        "y": 319,
        "w": 1252,
        "h": 1122
    },
    {
        "id": "404b2343936258b9",
        "type": "mqtt out",
        "z": "7a9ca1740ef5409d",
        "d": true,
        "g": "e87e4d81af556fc4",
        "name": "HomeAssistant",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d02c3570ba850c4f",
        "x": 1040,
        "y": 1400,
        "wires": []
    },
    {
        "id": "80d914b5fe193906",
        "type": "mqtt in",
        "z": "7a9ca1740ef5409d",
        "d": true,
        "g": "e87e4d81af556fc4",
        "name": "TTN - app-02 | v3/+/devices/+/up/#",
        "topic": "v3/+/devices/+/up/#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "34b3812930585fe6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 420,
        "wires": [
            [
                "b9d37ff720de133a"
            ]
        ]
    },
    {
        "id": "249598b7212ccd1b",
        "type": "mqtt in",
        "z": "7a9ca1740ef5409d",
        "d": true,
        "g": "e87e4d81af556fc4",
        "name": "TTN - app-01 | v3/+/devices/+/up/#",
        "topic": "v3/+/devices/+/up/#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "364cba795bd47ac5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 360,
        "wires": [
            [
                "feaf82e9da3ebddd"
            ]
        ]
    },
    {
        "id": "5ad563de3a890fbb",
        "type": "debug",
        "z": "7a9ca1740ef5409d",
        "g": "e87e4d81af556fc4",
        "name": "input",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 420,
        "wires": []
    },
    {
        "id": "811649a28fe92331",
        "type": "delay",
        "z": "7a9ca1740ef5409d",
        "g": "e87e4d81af556fc4",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 480,
        "y": 1400,
        "wires": [
            [
                "ad110707850c4877"
            ]
        ]
    },
    {
        "id": "8cf087146547e1fe",
        "type": "function",
        "z": "7a9ca1740ef5409d",
        "g": "e87e4d81af556fc4",
        "name": "push haConfigQueue to mqtt",
        "func": "for (const command of msg.result.haConfigQueue) {\n    var msgMqtt = command\n    node.send([null, msgMqtt, null])\n}\n\nvar msgOut = {\n    settings: msg.settings,\n    result: msg.result,\n}\n\nreturn [msg, null, msgOut];",
        "outputs": 3,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 1200,
        "wires": [
            [
                "0e09576b3b8feb93"
            ],
            [
                "574f4c8f709974fe",
                "ad110707850c4877"
            ],
            [
                "add62f80e485a24b",
                "40f1cace4e946a11"
            ]
        ],
        "outputLabels": [
            "debug",
            "mqtt",
            "output"
        ]
    },
    {
        "id": "0e09576b3b8feb93",
        "type": "debug",
        "z": "7a9ca1740ef5409d",
        "g": "e87e4d81af556fc4",
        "name": "debug mqtt jobs",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 1160,
        "wires": []
    },
    {
        "id": "574f4c8f709974fe",
        "type": "debug",
        "z": "7a9ca1740ef5409d",
        "g": "e87e4d81af556fc4",
        "name": "output mqtt haConfigQueue",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 1200,
        "wires": []
    },
    {
        "id": "f2d740d5f882f894",
        "type": "function",
        "z": "7a9ca1740ef5409d",
        "g": "e87e4d81af556fc4",
        "name": "push haValueQueue to mqtt",
        "func": "for (const command of msg.result.haValueQueue) {\n    var msgOut = command\n    node.send(msgOut, null)\n}\n\nreturn [null, msg];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 1320,
        "wires": [
            [
                "b05c2e2c1f69cd33",
                "ad110707850c4877"
            ],
            [
                "7c0efc8587a662b6"
            ]
        ],
        "outputLabels": [
            "mqtt",
            "output"
        ]
    },
    {
        "id": "7c0efc8587a662b6",
        "type": "debug",
        "z": "7a9ca1740ef5409d",
        "g": "e87e4d81af556fc4",
        "name": "output",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 1340,
        "wires": []
    },
    {
        "id": "b05c2e2c1f69cd33",
        "type": "debug",
        "z": "7a9ca1740ef5409d",
        "g": "e87e4d81af556fc4",
        "name": "output mqtt haValueQueue",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 1300,
        "wires": []
    },
    {
        "id": "add62f80e485a24b",
        "type": "delay",
        "z": "7a9ca1740ef5409d",
        "g": "e87e4d81af556fc4",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 480,
        "y": 1260,
        "wires": [
            [
                "f2d740d5f882f894"
            ]
        ]
    },
    {
        "id": "63e08a8e22366226",
        "type": "link in",
        "z": "7a9ca1740ef5409d",
        "g": "e87e4d81af556fc4",
        "name": "test payload in",
        "links": [
            "edc76bb5f6e8030a"
        ],
        "x": 75,
        "y": 480,
        "wires": [
            [
                "3c65fda17011555b"
            ]
        ]
    },
    {
        "id": "b191aeb8d1229a8f",
        "type": "link out",
        "z": "7a9ca1740ef5409d",
        "g": "e87e4d81af556fc4",
        "name": "test payload out",
        "mode": "link",
        "links": [
            "5d167db9e61269a5"
        ],
        "x": 975,
        "y": 480,
        "wires": []
    },
    {
        "id": "1d8aa8981c019d49",
        "type": "function",
        "z": "7a9ca1740ef5409d",
        "g": "e87e4d81af556fc4",
        "name": "Collect all data",
        "func": "function checkKeyInObj(key, obj) {\n    if ( typeof obj !== \"object\" || obj === null ) {\n        return false;\n    }\n\n    const keys = key.split('.')\n\n    for ( const part of keys ) {\n        const match = part.match(/^([^\\[\\]]+)(?:\\[(\\d+)\\])?$/); // Matches \"property\" or \"property[index]\"\n        if ( !match ) {\n            return { exist: false, value: undefined };\n        }\n\n        const property = match[1] // The property name\n        const index = match[2]   // The optional array index\n\n        // Ensure `obj` is an object or array and has the property\n        if ( typeof obj !== \"object\" || obj === null || !( property in obj ) ) {\n            return { exist: false, value: undefined }\n        }\n        obj = obj[property] // Move to the next level\n\n        // Handle array indexing\n        if (index !== undefined) {\n            if ( !Array.isArray(obj) || !( index in obj ) ) {\n                return { exist: false, value: undefined }\n            }\n            obj = obj[index]; // Move to the indexed array element\n        }\n    }\n    return { exist: true, value: obj }\n}\n\nfunction dateConvert(timestamp) {\n    const date = new Date(timestamp)\n    var day = date.getDate().toString()\n    var month = (date.getMonth() + 1).toString()\n    var year = date.getFullYear().toString()\n    var hour = date.getHours().toString()\n    var minutes = date.getMinutes().toString()\n    var seconds = date.getSeconds().toString()\n\n    day = checkZero(day)\n    month = checkZero(month)\n    year = checkZero(year)\n    hour = checkZero(hour)\n    minutes = checkZero(minutes)\n    seconds = checkZero(seconds)\n\n    return year + \"/\" + month + \"/\" + day + \" \" + hour + \":\" + minutes + \":\" + seconds + \" GMT\"\n}\n\nfunction checkZero(data) {\n    if (data.length == 1) {\n        data = \"0\" + data;\n    }\n    return data;\n}\n\nmsg.settings = flow.get(\"settings\")\nif (!msg.result) {\n    msg.result = {}\n}\n\nmsg.result.loraData = { metaData: {}, sensorData: {} }\n\n// read the new lora message\nif (msg.payload.end_device_ids) {\n    if (msg.payload.end_device_ids.device_id) {\n        msg.result.loraData.metaData.deviceName = msg.payload.end_device_ids.device_id\n        msg.result.loraData.metaData.join_eui = msg.payload.end_device_ids.join_eui\n        msg.result.loraData.metaData.application = msg.payload.end_device_ids.application_ids.application_id\n        msg.result.loraData.metaData.timestamp = Date.parse(msg.payload.received_at)\n        msg.result.loraData.metaData.timestamp_hr = dateConvert(Date.parse(msg.payload.received_at))\n\n        // get strongest rssi from gateway\n        \n        let rx_metadata = {value: []}\n        rx_metadata = checkKeyInObj( \"payload.uplink_message.rx_metadata\", msg )\n        if ( rx_metadata.exist ) {\n            for (const [index, loraValue] of rx_metadata.value.entries()) {\n                if (!msg.result.loraData.sensorData) {\n                    msg.result.loraData.sensorData = {}\n                }\n                if (!msg.result.loraData.sensorData.rssi) {\n                    msg.result.loraData.sensorData.rssi = loraValue.rssi\n                } else if (loraValue.rssi > msg.result.loraData.sensorData.rssi) {\n                    msg.result.loraData.sensorData.rssi = loraValue.rssi\n                }\n            }\n        }\n\n        let decoded_payload = {value: {}}\n        decoded_payload = checkKeyInObj( \"payload.uplink_message.decoded_payload\", msg )\n        if ( decoded_payload.exist ) {\n            for (const [loraKey, loraValue] of Object.entries(decoded_payload.value)) {\n                if (!msg.result.loraData.sensorData) {\n                    msg.result.loraData.sensorData = {}\n                }\n                if (typeof (loraValue) != \"object\") {\n                    msg.result.loraData.sensorData[loraKey] = loraValue\n                } else {\n                    for (var [loraKeySub, loraValueSub] of Object.entries(loraValue)) {\n                        msg.result.loraData.sensorData[loraKey + \"_\" + loraKeySub] = loraValueSub\n                    }\n                }\n            }\n        }\n    }\n}\n\n\n\n// read the prefious message from node red memory\nif ( msg.result.loraData.metaData.deviceName ) {\n    msg.result.previousData = flow.get(\"previous_\" + msg.result.loraData.metaData.deviceName) || { metaData: {}, sensorData: {} }\n}\n\nmsg.result.currentData = {\n    metaData: Object.assign({}, msg.result.previousData.metaData, msg.result.loraData.metaData),\n    sensorData: Object.assign({}, msg.result.previousData.sensorData, msg.result.loraData.sensorData),\n}\n\nflow.set(\"previous_\" + msg.result.loraData.metaData.deviceName, msg.result.currentData)\n\nif (msg.settings.joinKey2lorakey2ha[msg.result.currentData.metaData.join_eui] ) {\n    var msgOut = {\n        settings: msg.settings,\n        result: msg.result\n    }\n\n    return [msg, msgOut];\n}\n\n\nreturn [msg, null]",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 560,
        "wires": [
            [
                "9365f656f2b00e0c"
            ],
            [
                "cf12601debd36317",
                "79e5c56f59c5649f"
            ]
        ],
        "outputLabels": [
            "debug",
            "output"
        ]
    },
    {
        "id": "9365f656f2b00e0c",
        "type": "debug",
        "z": "7a9ca1740ef5409d",
        "g": "e87e4d81af556fc4",
        "name": "debug Collect data",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1050,
        "y": 540,
        "wires": []
    },
    {
        "id": "cf12601debd36317",
        "type": "debug",
        "z": "7a9ca1740ef5409d",
        "g": "e87e4d81af556fc4",
        "name": "output Collect data",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1050,
        "y": 580,
        "wires": []
    },
    {
        "id": "79e5c56f59c5649f",
        "type": "function",
        "z": "7a9ca1740ef5409d",
        "g": "e87e4d81af556fc4",
        "name": "collect device topic and distribute values to the correct integration",
        "func": "function copyObject(objIn) {\n    var objOut = {}\n    for (const [key, value] of Object.entries(objIn)) {\n        objOut[key] = value\n    }\n    return objOut\n}\n\nvar metaData = msg.result.currentData.metaData\nvar sensorData = msg.result.currentData.sensorData\n\nmsg.deviceConfig = msg.settings.joinKey2lorakey2ha[metaData.join_eui]\n\nmsg.result.integration = {}\n\nmsg.result.general = {\n    deviceName: metaData.deviceName,\n    application: metaData.application,\n    join_eui: metaData.join_eui,\n}\n\nmsg.manufacturerId = msg.deviceConfig.device.manufacturer.name.replaceAll(\" \",\"_\")\nmsg.result.general.topicDeviceGet = \"lora2nodered2mqtt/\" + msg.manufacturerId + \"/\" + metaData.deviceName + \"/get\"\nmsg.result.general.topicDeviceSet = \"mqtt2nodered2lora/\" + msg.manufacturerId + \"/\" + metaData.application + \"/\" + metaData.deviceName + \"/\" + metaData.join_eui + \"/set\"\n\nmsg.result.integration.device = {\n    identifiers: [\"lora2nodered2mqtt_\" + metaData.deviceName],\n    name: metaData.deviceName,\n    configuration_url: msg.settings.loraServer + \"/console/applications/\" + metaData.application + \"/devices/\" + metaData.deviceName\n}\nif (msg.deviceConfig.device.manufacturer ) {\n    msg.result.integration.device.manufacturer = msg.deviceConfig.device.manufacturer.name + \" (LoRa device)\"\n}\nif (msg.deviceConfig.device.model ) {\n    msg.result.integration.device.model = msg.deviceConfig.device.model.name\n}\n\nmsg.result.key_skipped = {}\nfor ( const [loraKey, loraValue] of Object.entries(msg.result.currentData.sensorData) ) {\n    var keySelect = true\n    for ( const [integration, keysObject] of Object.entries(msg.deviceConfig) ) {\n        for (const [key, config] of Object.entries(keysObject) ) {\n            if ( loraKey == key ) {\n                var keySelect = false\n                if ( !msg.result.integration[integration] ) {\n                    msg.result.integration[integration] = {}\n                }\n                let name = loraKey\n                if (config.name) {\n                    name = config.name\n                }\n                if ( integration == \"device\" ) {\n                    msg.result.integration[integration][name] = loraValue\n                } else {\n                    msg.result.integration[integration][name] = copyObject(config)\n                    msg.result.integration[integration][name].value = loraValue\n                    delete msg.result.integration[integration][name].name\n                }\n            }\n        }\n    }\n    if ( keySelect ) {\n        msg.result.key_skipped[loraKey] = loraValue\n    }\n}\n\nmsg.result.haConfigQueue = []\nmsg.result.haValueQueue = []\n\nvar msgOut = {\n    settings: msg.settings,\n    result: msg.result\n}\n\nreturn [msg, msgOut];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 680,
        "wires": [
            [
                "70d0f3aa8d44515d"
            ],
            [
                "307f6657f377957a",
                "29107e2756b233b7"
            ]
        ],
        "outputLabels": [
            "debug",
            "output"
        ]
    },
    {
        "id": "307f6657f377957a",
        "type": "debug",
        "z": "7a9ca1740ef5409d",
        "g": "e87e4d81af556fc4",
        "name": "output Order data",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1050,
        "y": 700,
        "wires": []
    },
    {
        "id": "70d0f3aa8d44515d",
        "type": "debug",
        "z": "7a9ca1740ef5409d",
        "g": "e87e4d81af556fc4",
        "name": "debug Order data",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1050,
        "y": 660,
        "wires": []
    },
    {
        "id": "29107e2756b233b7",
        "type": "function",
        "z": "7a9ca1740ef5409d",
        "g": "e87e4d81af556fc4",
        "name": "process integration \"sensor\"",
        "func": "var general = msg.result.general\nvar join_eui = msg.result.loraData.metaData.join_eui\nvar integration = \"sensor\"\n\nif ( msg.result.integration[integration] ) {\n    for ( const [key, valueObj] of Object.entries(msg.result.integration[integration]) ) {\n\n        // #########################        \n        // ##  Integration configuration\n        // #########################        \n        var objConfig = {}\n        objConfig.topic = \"homeassistant/\" + integration + \"/\" + general.deviceName + \"/\" + key + \"/config\"\n        objConfig.payload = {\n            device: msg.result.integration.device,\n            name: key.replaceAll(\"_\", \" \").replace(/\\b./g, function(m){ return m.toUpperCase(); }),\n            object_id: general.deviceName + \"_\" + integration + \"_\" + key,\n            unique_id: general.deviceName + \"_\" + integration + \"_\" + key + \"_lora2nodered2mqtt\",\n            state_topic: general.topicDeviceGet + \"/\" + integration + \"/\" + key,\n            json_attributes_topic: general.topicDeviceGet + \"/\" + integration + \"/\" + key,\n            value_template: \"{{ value_json.value }}\",\n        }\n        if ( valueObj.entity_category ) {\n            objConfig.payload.entity_category = valueObj.entity_category\n        }\n        if ( valueObj.icon ) {\n            objConfig.payload.icon = valueObj.icon\n        }\n        if ( valueObj.device_class ) {\n            if ( valueObj.device_class != \"None\" ) {\n                objConfig.payload.device_class = valueObj.device_class\n            }\n        }\n        if ( valueObj.unit_of_measurement ) {\n            objConfig.payload.unit_of_measurement = valueObj.unit_of_measurement\n        }\n        msg.result.haConfigQueue.push(objConfig)\n\n\n        // #########################        \n        // ##  Integration values\n        // #########################        \n        var objValue = {\n            topic: msg.result.general.topicDeviceGet + \"/\" + integration + \"/\" + key,\n            payload: {value: valueObj.value}\n        }\n        msg.result.haValueQueue.push(objValue)\n    }\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 760,
        "wires": [
            [
                "aa2963eb51979f83",
                "9bda849aa38f9524"
            ]
        ]
    },
    {
        "id": "aa2963eb51979f83",
        "type": "debug",
        "z": "7a9ca1740ef5409d",
        "g": "e87e4d81af556fc4",
        "name": "debug integration \"sensor\"",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 760,
        "wires": []
    },
    {
        "id": "9bda849aa38f9524",
        "type": "function",
        "z": "7a9ca1740ef5409d",
        "g": "e87e4d81af556fc4",
        "name": "process integration \"binary_sensor\"",
        "func": "var general = msg.result.general\nvar join_eui = msg.result.loraData.metaData.join_eui\nvar integration = \"binary_sensor\"\n\nif ( msg.result.integration[integration] ) {\n    for ( const [key, valueObj] of Object.entries(msg.result.integration[integration]) ) {\n\n        // #########################        \n        // ##  Integration configuration\n        // #########################        \n        var objConfig = {}\n        objConfig.topic = \"homeassistant/\" + integration + \"/\" + general.deviceName + \"/\" + key + \"/config\"\n        objConfig.payload = {\n            device: msg.result.integration.device,\n            name: key.replace(/_/g, \" \").replace(/\\b./g, function (m) { return m.toUpperCase(); }),\n            object_id: general.deviceName + \"_\" + integration + \"_\" + key,\n            unique_id: general.deviceName + \"_\" + integration + \"_\" + key + \"_lora2nodered2mqtt\",\n            state_topic: general.topicDeviceGet + \"/\" + integration + \"/\" + key,\n            json_attributes_topic: general.topicDeviceGet + \"/\" + integration + \"/\" + key,\n            value_template: \"{{ value_json.value }}\",\n            payload_on: true,\n            payload_off: false,\n        }\n        if ( valueObj.entity_category ) {\n            objConfig.payload.entity_category = valueObj.entity_category\n        }\n        if ( valueObj.icon ) {\n            objConfig.payload.icon = valueObj.icon\n        }\n        if ( valueObj.device_class ) {\n            if ( valueObj.device_class != \"None\" ) {\n                objConfig.payload.device_class = valueObj.device_class\n            }\n        }\n        msg.result.haConfigQueue.push(objConfig)\n\n\n        // #########################        \n        // ##  Integration values\n        // #########################        \n        if ( valueObj.value === true || valueObj.value === false ) {\n            var value = valueObj.value\n        } else {\n            if ( valueObj.value == 0 ) {\n                value = false\n            } else {\n                value = true\n            }\n        }\n        var objValue = {\n            topic: general.topicDeviceGet + \"/\" + integration + \"/\" + key,\n            payload: {value: value}\n        }\n        msg.result.haValueQueue.push(objValue)\n    }\n}\n\nreturn msg;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 820,
        "wires": [
            [
                "8b5ada43b42cba7f",
                "5b8ef81ed0f9a33d"
            ]
        ]
    },
    {
        "id": "8b5ada43b42cba7f",
        "type": "function",
        "z": "7a9ca1740ef5409d",
        "g": "e87e4d81af556fc4",
        "name": "process integration \"switch\"",
        "func": "var general = msg.result.general\nvar join_eui = msg.result.loraData.metaData.join_eui\nvar integration = \"switch\"\n\nif ( msg.result.integration[integration] ) {\n    var integrationValues = msg.result.integration[integration]\n\n    for ( const [key, valueObj] of Object.entries(msg.result.integration[integration]) ) {\n\n        // #########################        \n        // ##  Integration configuration\n        // #########################        \n        var objConfig = {}\n        objConfig.topic = \"homeassistant/\" + integration + \"/\" + general.deviceName + \"/\" + key + \"/config\"\n        objConfig.payload = {\n            device: msg.result.integration.device,\n            name: key.replace(/_/g, \" \").replace(/\\b./g, function (m) { return m.toUpperCase(); }),\n            object_id: general.deviceName + \"_\" + integration + \"_\" + key,\n            unique_id: general.deviceName + \"_\" + integration + \"_\" + key + \"_lora2nodered2mqtt\",\n            command_topic: general.topicDeviceSet + \"/\" + integration + \"/\" + key,\n            state_topic: general.topicDeviceGet + \"/\" + integration + \"/\" + key,\n            json_attributes_topic: general.topicDeviceGet + \"/\" + integration + \"/\" + key,\n            value_template: \"{{ value_json.value }}\",\n            payload_off: \"off\",\n            payload_on: \"on\",\n        }\n        if ( valueObj.entity_category ) {\n            objConfig.payload.entity_category = valueObj.entity_category\n        }\n        if ( valueObj.icon ) {\n            objConfig.payload.icon = valueObj.icon\n        }\n        msg.result.haConfigQueue.push(objConfig)\n\n\n        // #########################        \n        // ##  Integration values\n        // #########################        \n        if ( valueObj.value == integrationValues[key].downlink.on ) {\n            var switchState = \"on\"\n        } else {\n            switchState = \"off\"\n        }\n        var objValue = {\n            topic: general.topicDeviceGet + \"/\" + integration + \"/\" + key,\n            payload: {value: switchState}\n        }\n        msg.result.haValueQueue.push(objValue)\n    }\n}\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 880,
        "wires": [
            [
                "183dff335dc649d1",
                "f2680ebb75ef201c"
            ]
        ]
    },
    {
        "id": "183dff335dc649d1",
        "type": "function",
        "z": "7a9ca1740ef5409d",
        "g": "e87e4d81af556fc4",
        "name": "process integration \"climate\"",
        "func": "function checkKeyInObj(key, obj) {\n    if (typeof obj !== 'object' || obj === null) {\n        return false;\n    }\n\n    const keys = key.split('.')\n\n    for ( const part of keys ) {\n        const match = part.match(/^([^\\[\\]]+)(?:\\[(\\d+)\\])?$/); // Matches \"property\" or \"property[index]\"\n        if ( !match ) {\n            return { exist: false, value: undefined };\n        }\n\n        const property = match[1] // The property name\n        const index = match[2]   // The optional array index\n\n        // Ensure `obj` is an object or array and has the property\n        if ( typeof obj !== 'object' || obj === null || !( property in obj ) ) {\n            return { exist: false, value: undefined }\n        }\n        obj = obj[property] // Move to the next level\n\n        // Handle array indexing\n        if (index !== undefined) {\n            if ( !Array.isArray(obj) || !( index in obj ) ) {\n                return { exist: false, value: undefined }\n            }\n            obj = obj[index]; // Move to the indexed array element\n        }\n    }\n    return { exist: true, value: obj }\n}\n\nfunction getKeyValue(keyValue) {\n    var key_lora = keyValue\n    for (const [keyConfig, valueConfig] of Object.entries(integrationConfig)) {\n        if (valueConfig.name == keyValue) {\n            key_lora = keyConfig\n        }\n    }\n    if (!msg.testGetKeyValue ) {\n        msg.testGetKeyValue = {}\n    }\n    msg.testGetKeyValue[keyValue] = {}\n    // check if in the config a default value is available\n    msg.testGetKeyValue[keyValue].value_default = checkKeyInObj(key_lora + \".value_default\", integrationConfig)\n    if (msg.testGetKeyValue[keyValue].value_default.exist ) {\n        var value = msg.testGetKeyValue[keyValue].value_default.value;\n    }\n    // check if in the sensordata the value is available\n    msg.testGetKeyValue[keyValue].value_lora = checkKeyInObj(keyValue + \".value\", integrationValues)\n    if (msg.testGetKeyValue[keyValue].value_lora.exist ) {\n        value = msg.testGetKeyValue[keyValue].value_lora.value\n    } else {\n        integrationValues[keyValue] = { value: value }\n    }\n    // check if in the config the value is available which will overwrite the sensor data\n    msg.testGetKeyValue[keyValue].value_overwrite = checkKeyInObj(key_lora + \".value\", integrationConfig)\n    if (msg.testGetKeyValue[keyValue].value_overwrite.exist ) {\n        value = msg.testGetKeyValue[keyValue].value_overwrite.value\n        integrationValues[keyValue] = { value: value }\n    }\n    return value\n}\n\nvar general = msg.result.general\nvar join_eui = msg.result.loraData.metaData.join_eui\nvar integration = \"climate\"\n\nif ( msg.result.integration[integration] ) {\n    var integrationValues = msg.result.integration[integration]\n    var integrationConfig = msg.settings.joinKey2lorakey2ha[join_eui][integration]\n\n    var key = msg.settings.joinKey2lorakey2ha[join_eui].device[integration + \"_primary_key\"].name\n    var valueObj = integrationValues[key]\n\n    var max_temp = getKeyValue(\"max_temp\")\n    var min_temp = getKeyValue(\"min_temp\")\n    var temp_step = getKeyValue(\"temp_step\")\n    var system_mode = getKeyValue(\"system_mode\")\n\n\n    // ##################################################\n    // ##  Start - device specific excetions\n    // ##################################################\n\n    // additional check for MClimate Vicki\n    if ( join_eui == \"70B3D52DD3000000\" ) {\n        if ( integrationValues.attached_backplate ) {    // MClimate Vicki exception\n            integrationValues.system_mode = { value: \"heat\" }\n        } else {\n            integrationValues.system_mode = { value: \"off\" }\n        }\n    }\n\n    // ##################################################\n    // ##  End - device specific excetions\n    // ##################################################\n\n    if ( integrationValues[key] ) {\n\n        // #########################        \n        // ##  Integration configuration\n        // #########################        \n        var objConfig = {}\n        objConfig.topic = \"homeassistant/\" + integration + \"/\" + general.deviceName + \"/\" + key + \"/config\"\n        objConfig.payload = {\n            device: msg.result.integration.device,\n            name: key.replace(/_/g, \" \").replace(/\\b./g, function (m) { return m.toUpperCase(); }),\n            object_id: general.deviceName + \"_\" + integration + \"_\" + key,\n            unique_id: general.deviceName + \"_\" + integration + \"_\" + key + \"_lora2nodered2mqtt\",\n            modes: [\"off\", \"heat\"],\n            max_temp: max_temp,\n            min_temp: min_temp,\n            temp_step: 1,\n\n            json_attributes_topic: general.topicDeviceGet + \"/\" + integration + \"/\" + key,\n\n            mode_state_topic: general.topicDeviceGet + \"/\" + integration + \"/\" + \"system_mode\",\n//            mode_state_template: \"{{ value_json.value  if value_json.value=='off' else 'heat'}}\",\n            mode_state_template: \"{{ value_json.value }}\",\n\n            current_temperature_topic: general.topicDeviceGet + \"/\" + integration + \"/\" + \"current_temperature\",\n            current_temperature_template: \"{{ value_json.value }}\",\n            \n            temperature_state_topic: general.topicDeviceGet + \"/\" + integration + \"/\" + key,\n            temperature_state_template: \"{{ value_json.value }}\",\n\n            temperature_command_topic: general.topicDeviceSet + \"/\" + integration + \"/\" + key,\n            mode_command_topic: general.topicDeviceSet + \"/\" + integration + \"/\" + \"system_mode\",\n        }\n        if (valueObj.entity_category) {\n            objConfig.payload.entity_category = valueObj.entity_category\n        }\n        if ( valueObj.icon ) {\n            objConfig.payload.icon = valueObj.icon\n        }\n        if ( valueObj.device_class ) {\n            if ( valueObj.device_class != \"None\" ) {\n                objConfig.payload.device_class = valueObj.device_class\n            }\n        }\n        if ( valueObj.unit_of_measurement ) {\n            objConfig.payload.unit_of_measurement = valueObj.unit_of_measurement\n        }\n        msg.result.haConfigQueue.push(objConfig)\n\n\n        // #########################        \n        // ##  Integration values\n        // #########################        \n        for (const [key, value] of Object.entries(integrationValues) ) {\n            var objValue = {\n                topic: msg.result.general.topicDeviceGet + \"/\" + integration + \"/\" + key,\n                payload: { value: value.value }\n            }\n            msg.result.haValueQueue.push(objValue)\n        }\n    }\n}\n\n\n\n\n\n\n\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 940,
        "wires": [
            [
                "2a71e9dde76c9e5f",
                "cbf79f5cb6731c1e"
            ]
        ]
    },
    {
        "id": "2a71e9dde76c9e5f",
        "type": "debug",
        "z": "7a9ca1740ef5409d",
        "g": "e87e4d81af556fc4",
        "name": "debug integration \"climate\"",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 940,
        "wires": []
    },
    {
        "id": "f2680ebb75ef201c",
        "type": "debug",
        "z": "7a9ca1740ef5409d",
        "g": "e87e4d81af556fc4",
        "name": "debug integration \"switch\"",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1070,
        "y": 880,
        "wires": []
    },
    {
        "id": "5b8ef81ed0f9a33d",
        "type": "debug",
        "z": "7a9ca1740ef5409d",
        "g": "e87e4d81af556fc4",
        "name": "debug integration \"binary_sensor\"",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1100,
        "y": 820,
        "wires": []
    },
    {
        "id": "cbf79f5cb6731c1e",
        "type": "function",
        "z": "7a9ca1740ef5409d",
        "g": "e87e4d81af556fc4",
        "name": "process integration \"number\"",
        "func": "function checkKeyInObj(key, obj) {\n    if (typeof obj !== 'object' || obj === null) {\n        return false;\n    }\n\n    const keys = key.split('.')\n\n    for ( const part of keys ) {\n        const match = part.match(/^([^\\[\\]]+)(?:\\[(\\d+)\\])?$/); // Matches \"property\" or \"property[index]\"\n        if ( !match ) {\n            return { exist: false, value: undefined };\n        }\n\n        const property = match[1] // The property name\n        const index = match[2]   // The optional array index\n\n        // Ensure `obj` is an object or array and has the property\n        if ( typeof obj !== 'object' || obj === null || !( property in obj ) ) {\n            return { exist: false, value: undefined }\n        }\n        obj = obj[property] // Move to the next level\n\n        // Handle array indexing\n        if (index !== undefined) {\n            if ( !Array.isArray(obj) || !( index in obj ) ) {\n                return { exist: false, value: undefined }\n            }\n            obj = obj[index]; // Move to the indexed array element\n        }\n    }\n    return { exist: true, value: obj }\n}\n\nfunction getKeyValue(keyValue) {\n    var key_lora = keyValue\n    for (const [keyConfig, valueConfig] of Object.entries(integrationConfig)) {\n        if (valueConfig.name == keyValue) {\n            key_lora = keyConfig\n        }\n    }\n    if (!msg.testGetKeyValue) {\n        msg.testGetKeyValue = {}\n    }\n    msg.testGetKeyValue[keyValue] = {}\n    // check if in the config a default value is available\n    msg.testGetKeyValue[keyValue].value_default = checkKeyInObj(key_lora + \".value_default\", integrationConfig)\n    if (msg.testGetKeyValue[keyValue].value_default.exist) {\n        var value = msg.testGetKeyValue[keyValue].value_default.value;\n    }\n    // check if in the sensordata the value is available\n    msg.testGetKeyValue[keyValue].value_lora = checkKeyInObj(keyValue + \".value\", integrationValues)\n    if (msg.testGetKeyValue[keyValue].value_lora.exist) {\n        value = msg.testGetKeyValue[keyValue].value_lora.value\n    } else {\n        integrationValues[keyValue] = { value: value }\n    }\n    // check if in the config the value is available which will overwrite the sensor data\n    msg.testGetKeyValue[keyValue].value_overwrite = checkKeyInObj(key_lora + \".value\", integrationConfig)\n    if (msg.testGetKeyValue[keyValue].value_overwrite.exist) {\n        value = msg.testGetKeyValue[keyValue].value_overwrite.value\n        integrationValues[keyValue] = { value: value }\n    }\n    return value\n}\n\nvar general = msg.result.general\nvar join_eui = msg.result.loraData.metaData.join_eui\nvar integration = \"number\"\n\nif ( msg.result.integration[integration] ) {\n    var integrationValues = msg.result.integration[integration]\n    var integrationConfig = msg.settings.joinKey2lorakey2ha[join_eui][integration]\n\n    var key = msg.settings.joinKey2lorakey2ha[join_eui].device[integration + \"_primary_key\"].name\n    var valueObj = integrationValues[key]\n\n    var max = getKeyValue(\"max\")\n    var min = getKeyValue(\"min\")\n    var step = getKeyValue(\"step\")\n    var mode = getKeyValue(\"mode\")\n\n    if ( integrationValues[key] ) {\n\n        // #########################        \n        // ##  Integration configuration\n        // #########################        \n        var objConfig = {}\n        objConfig.topic = \"homeassistant/\" + integration + \"/\" + general.deviceName + \"/\" + key + \"/config\"\n        objConfig.payload = {\n            device: msg.result.integration.device,\n            name: key.replace(/_/g, \" \").replace(/\\b./g, function (m) { return m.toUpperCase(); }),\n            object_id: general.deviceName + \"_\" + integration + \"_\" + key,\n            unique_id: general.deviceName + \"_\" + integration + \"_\" + key + \"_lora2nodered2mqtt\",\n            max: max,\n            min: min,\n            step: step,\n            mode: mode,\n          \n            state_topic: general.topicDeviceGet + \"/\" + integration + \"/\" + key,\n            value_template: '{{ value_json.value }}',\n\n            command_topic: general.topicDeviceSet + \"/\" + integration + \"/\" + key,\n        }\n        if (valueObj.entity_category) {\n            objConfig.payload.entity_category = valueObj.entity_category\n        }\n        if (valueObj.icon) {\n            objConfig.payload.icon = valueObj.icon\n        }\n        if (valueObj.device_class) {\n            if (valueObj.device_class != \"None\") {\n                objConfig.payload.device_class = valueObj.device_class\n            }\n        }\n        if (valueObj.unit_of_measurement) {\n            objConfig.payload.unit_of_measurement = valueObj.unit_of_measurement\n        }\n        msg.result.haConfigQueue.push(objConfig)\n    }\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 1000,
        "wires": [
            [
                "9ec2914a13b46eec",
                "70fe974ef2d6ab6d"
            ]
        ]
    },
    {
        "id": "9ec2914a13b46eec",
        "type": "debug",
        "z": "7a9ca1740ef5409d",
        "g": "e87e4d81af556fc4",
        "name": "debug integration \"number\"",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 1000,
        "wires": []
    },
    {
        "id": "70fe974ef2d6ab6d",
        "type": "function",
        "z": "7a9ca1740ef5409d",
        "g": "e87e4d81af556fc4",
        "name": "process integration \"button\"",
        "func": "var general = msg.result.general\nvar join_eui = msg.result.loraData.metaData.join_eui\nvar integration = \"button\"\n\nif (msg.settings.joinKey2lorakey2ha[general.join_eui][integration]) {\n    var integrationConfig = msg.settings.joinKey2lorakey2ha[general.join_eui][integration]\n\n    for (const [key, value] of Object.entries(integrationConfig)) {\n        var valueObj = msg.settings.joinKey2lorakey2ha[general.join_eui][integration][key]\n\n        // #########################        \n        // ##  Integration configuration\n        // #########################        \n        var objConfig = {}\n        objConfig.topic = \"homeassistant/\" + integration + \"/\" + general.deviceName + \"/\" + key + \"/config\"\n        objConfig.payload = {\n            device: msg.result.integration.device,\n            name: key.replace(/_/g, \" \").replace(/\\b./g, function (m) { return m.toUpperCase(); }),\n            object_id: general.deviceName + \"_\" + integration + \"_\" + key,\n            unique_id: general.deviceName + \"_\" + integration + \"_\" + key + \"_lora2nodered2mqtt\",\n            command_topic: general.topicDeviceSet + \"/\" + integration + \"/\" + key,\n            payload_press: \"request\",\n        }\n        if (valueObj.entity_category) {\n            objConfig.payload.entity_category = valueObj.entity_category\n        }\n        if (valueObj.icon) {\n            objConfig.payload.icon = valueObj.icon\n        }\n        if (valueObj.device_class) {\n            if (valueObj.device_class != \"None\") {\n                objConfig.payload.device_class = valueObj.device_class\n            }\n        }\n        if (valueObj.unit_of_measurement) {\n            objConfig.payload.unit_of_measurement = valueObj.unit_of_measurement\n        }\n        msg.result.haConfigQueue.push(objConfig)\n    }\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 1060,
        "wires": [
            [
                "649abe3d65d3cc72",
                "8cf087146547e1fe"
            ]
        ]
    },
    {
        "id": "649abe3d65d3cc72",
        "type": "debug",
        "z": "7a9ca1740ef5409d",
        "g": "e87e4d81af556fc4",
        "name": "debug integration \"button\"",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1070,
        "y": 1060,
        "wires": []
    },
    {
        "id": "5cddcb2323475916",
        "type": "debug",
        "z": "7a9ca1740ef5409d",
        "g": "e87e4d81af556fc4",
        "name": "input",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 360,
        "wires": []
    },
    {
        "id": "40f1cace4e946a11",
        "type": "debug",
        "z": "7a9ca1740ef5409d",
        "g": "e87e4d81af556fc4",
        "name": "output",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 1240,
        "wires": []
    },
    {
        "id": "3c65fda17011555b",
        "type": "junction",
        "z": "7a9ca1740ef5409d",
        "g": "e87e4d81af556fc4",
        "x": 740,
        "y": 480,
        "wires": [
            [
                "b191aeb8d1229a8f",
                "1d8aa8981c019d49"
            ]
        ]
    },
    {
        "id": "ad110707850c4877",
        "type": "junction",
        "z": "7a9ca1740ef5409d",
        "g": "e87e4d81af556fc4",
        "x": 880,
        "y": 1400,
        "wires": [
            [
                "404b2343936258b9"
            ]
        ]
    },
    {
        "id": "b9d37ff720de133a",
        "type": "junction",
        "z": "7a9ca1740ef5409d",
        "g": "e87e4d81af556fc4",
        "x": 420,
        "y": 420,
        "wires": [
            [
                "5ad563de3a890fbb",
                "3c65fda17011555b"
            ]
        ]
    },
    {
        "id": "feaf82e9da3ebddd",
        "type": "junction",
        "z": "7a9ca1740ef5409d",
        "g": "e87e4d81af556fc4",
        "x": 420,
        "y": 360,
        "wires": [
            [
                "3c65fda17011555b",
                "5cddcb2323475916"
            ]
        ]
    },
    {
        "id": "c2ca4631a9007acd",
        "type": "group",
        "z": "7a9ca1740ef5409d",
        "name": "debug",
        "style": {
            "label": true
        },
        "nodes": [
            "404aa7679d3c0527",
            "c0c16824fa5f46f4",
            "529b0f7c882443f6",
            "89a40a021eb4ca11",
            "64112e616130fc1f",
            "d7777205ec8ee88e",
            "931b9192d4dbe481",
            "f8d362cd424fec2c",
            "421f8c1fea155e95",
            "cd3e7e4b0b3743c8",
            "5d167db9e61269a5",
            "edc76bb5f6e8030a",
            "7d92bde3faccede0",
            "dba965fbf263caf0",
            "35b8d08871583f67",
            "17430f9fc19288ad",
            "ee16e275b6d89ec7",
            "b1bb392b675da6b3",
            "f38ebd5f33ed8ab1",
            "3b80d5c216e4806b",
            "3f00c7cc204b59e2",
            "d55a5fbd52eb97a6"
        ],
        "x": 1334,
        "y": 59,
        "w": 872,
        "h": 442
    },
    {
        "id": "404aa7679d3c0527",
        "type": "debug",
        "z": "7a9ca1740ef5409d",
        "g": "c2ca4631a9007acd",
        "name": "debug output",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2050,
        "y": 320,
        "wires": []
    },
    {
        "id": "c0c16824fa5f46f4",
        "type": "function",
        "z": "7a9ca1740ef5409d",
        "g": "c2ca4631a9007acd",
        "name": "in memory for debug",
        "func": "msg.payload.topic = msg.topic\n\nmsg.deviceName = msg.topic.split(\"/\")[3]\n\nflow.set(\"last_msg_\" + msg.deviceName, msg.payload)\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1660,
        "y": 100,
        "wires": [
            [
                "64112e616130fc1f"
            ]
        ]
    },
    {
        "id": "529b0f7c882443f6",
        "type": "function",
        "z": "7a9ca1740ef5409d",
        "g": "c2ca4631a9007acd",
        "name": "device 5",
        "func": "var deviceName = \"eui-70############d5\"\n\nmsg.payload = flow.get(\"last_msg_\" + deviceName)\nmsg.topic = msg.payload.topic\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1620,
        "y": 360,
        "wires": [
            [
                "f8d362cd424fec2c"
            ]
        ]
    },
    {
        "id": "89a40a021eb4ca11",
        "type": "inject",
        "z": "7a9ca1740ef5409d",
        "g": "c2ca4631a9007acd",
        "name": "device 5",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1440,
        "y": 360,
        "wires": [
            [
                "529b0f7c882443f6"
            ]
        ]
    },
    {
        "id": "64112e616130fc1f",
        "type": "debug",
        "z": "7a9ca1740ef5409d",
        "g": "c2ca4631a9007acd",
        "name": "debug ingest",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2050,
        "y": 100,
        "wires": []
    },
    {
        "id": "d7777205ec8ee88e",
        "type": "function",
        "z": "7a9ca1740ef5409d",
        "g": "c2ca4631a9007acd",
        "name": "device 2",
        "func": "var deviceName = \"eui-36############14\"\n\nmsg.payload = flow.get(\"last_msg_\" + deviceName)\nmsg.topic = msg.payload.topic\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1620,
        "y": 240,
        "wires": [
            [
                "f8d362cd424fec2c"
            ]
        ]
    },
    {
        "id": "931b9192d4dbe481",
        "type": "inject",
        "z": "7a9ca1740ef5409d",
        "g": "c2ca4631a9007acd",
        "name": "device 2",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1440,
        "y": 240,
        "wires": [
            [
                "d7777205ec8ee88e"
            ]
        ]
    },
    {
        "id": "f8d362cd424fec2c",
        "type": "junction",
        "z": "7a9ca1740ef5409d",
        "g": "c2ca4631a9007acd",
        "x": 1840,
        "y": 280,
        "wires": [
            [
                "404aa7679d3c0527",
                "edc76bb5f6e8030a"
            ]
        ]
    },
    {
        "id": "421f8c1fea155e95",
        "type": "function",
        "z": "7a9ca1740ef5409d",
        "g": "c2ca4631a9007acd",
        "name": "device 1",
        "func": "var deviceName = \"eui-24############43\"\n\nmsg.payload = flow.get(\"last_msg_\" + deviceName)\nmsg.topic = msg.payload.topic\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1620,
        "y": 200,
        "wires": [
            [
                "f8d362cd424fec2c"
            ]
        ]
    },
    {
        "id": "cd3e7e4b0b3743c8",
        "type": "inject",
        "z": "7a9ca1740ef5409d",
        "g": "c2ca4631a9007acd",
        "name": "device 1",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1440,
        "y": 200,
        "wires": [
            [
                "421f8c1fea155e95"
            ]
        ]
    },
    {
        "id": "5d167db9e61269a5",
        "type": "link in",
        "z": "7a9ca1740ef5409d",
        "g": "c2ca4631a9007acd",
        "name": "test payload read",
        "links": [
            "b191aeb8d1229a8f"
        ],
        "x": 1385,
        "y": 100,
        "wires": [
            [
                "c0c16824fa5f46f4"
            ]
        ]
    },
    {
        "id": "edc76bb5f6e8030a",
        "type": "link out",
        "z": "7a9ca1740ef5409d",
        "g": "c2ca4631a9007acd",
        "name": "test payload send",
        "mode": "link",
        "links": [
            "63e08a8e22366226"
        ],
        "x": 1995,
        "y": 280,
        "wires": []
    },
    {
        "id": "7d92bde3faccede0",
        "type": "function",
        "z": "7a9ca1740ef5409d",
        "g": "c2ca4631a9007acd",
        "name": "device 3",
        "func": "var deviceName = \"eui-34############16\"\n\nmsg.payload = flow.get(\"last_msg_\" + deviceName)\nmsg.topic = msg.payload.topic\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1620,
        "y": 280,
        "wires": [
            [
                "f8d362cd424fec2c"
            ]
        ]
    },
    {
        "id": "dba965fbf263caf0",
        "type": "inject",
        "z": "7a9ca1740ef5409d",
        "g": "c2ca4631a9007acd",
        "name": "device 3",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1440,
        "y": 280,
        "wires": [
            [
                "7d92bde3faccede0"
            ]
        ]
    },
    {
        "id": "35b8d08871583f67",
        "type": "function",
        "z": "7a9ca1740ef5409d",
        "g": "c2ca4631a9007acd",
        "name": "device 4",
        "func": "var deviceName = \"eui-33############08\"\n\nmsg.payload = flow.get(\"last_msg_\" + deviceName)\nmsg.topic = msg.payload.topic\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1620,
        "y": 320,
        "wires": [
            [
                "f8d362cd424fec2c"
            ]
        ]
    },
    {
        "id": "17430f9fc19288ad",
        "type": "inject",
        "z": "7a9ca1740ef5409d",
        "g": "c2ca4631a9007acd",
        "name": "device 4",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1440,
        "y": 320,
        "wires": [
            [
                "35b8d08871583f67"
            ]
        ]
    },
    {
        "id": "ee16e275b6d89ec7",
        "type": "function",
        "z": "7a9ca1740ef5409d",
        "g": "c2ca4631a9007acd",
        "name": "all devices",
        "func": "msg.deviceNames = [\n    \"eui-24############43\",\n    \"eui-36############14\",\n    \"eui-34############16\",\n    \"eui-33############08\",\n    \"eui-70############d5\",\n]\n\nmsg.missing_devices = []\nfor (const [index, deviceName] of msg.deviceNames.entries()) {\n    try {\n        var msgOut = {}\n        msgOut.payload = flow.get(\"last_msg_\" + deviceName)\n        msgOut.topic = msgOut.payload.topic\n        msgOut.delay = 500 + index * 1000\n        node.send([null, msgOut])\n    } catch (error) {\n        msg.missing_devices.push(deviceName)\n    }\n}\n\nreturn [msg, null];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1630,
        "y": 400,
        "wires": [
            [
                "f38ebd5f33ed8ab1"
            ],
            [
                "3f00c7cc204b59e2",
                "d55a5fbd52eb97a6"
            ]
        ],
        "outputLabels": [
            "debug",
            "output"
        ]
    },
    {
        "id": "b1bb392b675da6b3",
        "type": "inject",
        "z": "7a9ca1740ef5409d",
        "g": "c2ca4631a9007acd",
        "name": "all devices",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1440,
        "y": 400,
        "wires": [
            [
                "ee16e275b6d89ec7"
            ]
        ]
    },
    {
        "id": "f38ebd5f33ed8ab1",
        "type": "debug",
        "z": "7a9ca1740ef5409d",
        "g": "c2ca4631a9007acd",
        "name": "debug all devices",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2070,
        "y": 380,
        "wires": []
    },
    {
        "id": "3b80d5c216e4806b",
        "type": "debug",
        "z": "7a9ca1740ef5409d",
        "g": "c2ca4631a9007acd",
        "name": "output all devices",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2070,
        "y": 460,
        "wires": []
    },
    {
        "id": "3f00c7cc204b59e2",
        "type": "delay",
        "z": "7a9ca1740ef5409d",
        "g": "c2ca4631a9007acd",
        "name": "variable delay",
        "pauseType": "delayv",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1820,
        "y": 460,
        "wires": [
            [
                "3b80d5c216e4806b",
                "f8d362cd424fec2c"
            ]
        ]
    },
    {
        "id": "d55a5fbd52eb97a6",
        "type": "debug",
        "z": "7a9ca1740ef5409d",
        "g": "c2ca4631a9007acd",
        "name": "output all devices",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2070,
        "y": 420,
        "wires": []
    }
]