lorasensors2homeassistant.json_v2.json
[
    {
        "id": "c2ca4631a9007acd",
        "type": "group",
        "z": "7a9ca1740ef5409d",
        "name": "debug",
        "style": {
            "label": true
        },
        "nodes": [
            "404aa7679d3c0527",
            "c0c16824fa5f46f4",
            "529b0f7c882443f6",
            "89a40a021eb4ca11",
            "64112e616130fc1f",
            "d7777205ec8ee88e",
            "931b9192d4dbe481",
            "f8d362cd424fec2c",
            "421f8c1fea155e95",
            "cd3e7e4b0b3743c8",
            "5d167db9e61269a5",
            "edc76bb5f6e8030a",
            "7d92bde3faccede0",
            "dba965fbf263caf0",
            "35b8d08871583f67",
            "17430f9fc19288ad",
            "ee16e275b6d89ec7",
            "b1bb392b675da6b3",
            "f38ebd5f33ed8ab1",
            "3b80d5c216e4806b",
            "3f00c7cc204b59e2",
            "d55a5fbd52eb97a6"
        ],
        "x": 1354,
        "y": 59,
        "w": 652,
        "h": 542
    },
    {
        "id": "404aa7679d3c0527",
        "type": "debug",
        "z": "7a9ca1740ef5409d",
        "g": "c2ca4631a9007acd",
        "name": "debug 189",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1890,
        "y": 260,
        "wires": []
    },
    {
        "id": "c0c16824fa5f46f4",
        "type": "function",
        "z": "7a9ca1740ef5409d",
        "d": true,
        "g": "c2ca4631a9007acd",
        "name": "in memory for debug",
        "func": "msg.payload.topic = msg.topic\n\nmsg.deviceName = msg.topic.split(\"/\")[3]\n\nflow.set(\"last_msg_\" + msg.deviceName, msg.payload)\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1760,
        "y": 100,
        "wires": [
            [
                "64112e616130fc1f"
            ]
        ]
    },
    {
        "id": "529b0f7c882443f6",
        "type": "function",
        "z": "7a9ca1740ef5409d",
        "g": "c2ca4631a9007acd",
        "name": "func",
        "func": "var deviceName = \"eui-70############d5\"    // vicki\n//var deviceName = \"eui-70############93\"    // vicki\n\nmsg.payload = flow.get(\"last_msg_\" + deviceName)\nmsg.topic = msg.payload.topic\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1630,
        "y": 360,
        "wires": [
            [
                "f8d362cd424fec2c"
            ]
        ]
    },
    {
        "id": "89a40a021eb4ca11",
        "type": "inject",
        "z": "7a9ca1740ef5409d",
        "g": "c2ca4631a9007acd",
        "name": "2 vicki",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1450,
        "y": 360,
        "wires": [
            [
                "529b0f7c882443f6"
            ]
        ]
    },
    {
        "id": "64112e616130fc1f",
        "type": "debug",
        "z": "7a9ca1740ef5409d",
        "g": "c2ca4631a9007acd",
        "name": "debug 190",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1730,
        "y": 140,
        "wires": []
    },
    {
        "id": "d7777205ec8ee88e",
        "type": "function",
        "z": "7a9ca1740ef5409d",
        "g": "c2ca4631a9007acd",
        "name": "func",
        "func": "//var deviceName = \"eui-35############05\"   // desk\n//var deviceName = \"eui-35############05\"   //desk\nvar deviceName = \"eui-36############14\"\n\nmsg.payload = flow.get(\"last_msg_\" + deviceName)\nmsg.topic = msg.payload.topic\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1630,
        "y": 240,
        "wires": [
            [
                "f8d362cd424fec2c"
            ]
        ]
    },
    {
        "id": "931b9192d4dbe481",
        "type": "inject",
        "z": "7a9ca1740ef5409d",
        "g": "c2ca4631a9007acd",
        "name": "3 desk",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1450,
        "y": 240,
        "wires": [
            [
                "d7777205ec8ee88e"
            ]
        ]
    },
    {
        "id": "f8d362cd424fec2c",
        "type": "junction",
        "z": "7a9ca1740ef5409d",
        "g": "c2ca4631a9007acd",
        "x": 1800,
        "y": 200,
        "wires": [
            [
                "404aa7679d3c0527",
                "edc76bb5f6e8030a"
            ]
        ]
    },
    {
        "id": "421f8c1fea155e95",
        "type": "function",
        "z": "7a9ca1740ef5409d",
        "g": "c2ca4631a9007acd",
        "name": "func",
        "func": "var deviceName = \"eui-24############43\"\n\nmsg.payload = flow.get(\"last_msg_\" + deviceName)\nmsg.topic = msg.payload.topic\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1630,
        "y": 200,
        "wires": [
            [
                "f8d362cd424fec2c"
            ]
        ]
    },
    {
        "id": "cd3e7e4b0b3743c8",
        "type": "inject",
        "z": "7a9ca1740ef5409d",
        "g": "c2ca4631a9007acd",
        "name": "1 milesight",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1460,
        "y": 200,
        "wires": [
            [
                "421f8c1fea155e95"
            ]
        ]
    },
    {
        "id": "5d167db9e61269a5",
        "type": "link in",
        "z": "7a9ca1740ef5409d",
        "g": "c2ca4631a9007acd",
        "name": "test payload read",
        "links": [
            "9ee0a79e2c655cd4"
        ],
        "x": 1405,
        "y": 100,
        "wires": [
            [
                "c0c16824fa5f46f4"
            ]
        ]
    },
    {
        "id": "edc76bb5f6e8030a",
        "type": "link out",
        "z": "7a9ca1740ef5409d",
        "g": "c2ca4631a9007acd",
        "name": "test payload send",
        "mode": "link",
        "links": [
            "be06e9e44dc236f2"
        ],
        "x": 1945,
        "y": 200,
        "wires": []
    },
    {
        "id": "7d92bde3faccede0",
        "type": "function",
        "z": "7a9ca1740ef5409d",
        "g": "c2ca4631a9007acd",
        "name": "func",
        "func": "var deviceName = \"eui-34############16\"   // comfort\n//var deviceName = \"eui-39############13\"   //comfort\n\nmsg.payload = flow.get(\"last_msg_\" + deviceName)\nmsg.topic = msg.payload.topic\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1630,
        "y": 280,
        "wires": [
            [
                "f8d362cd424fec2c"
            ]
        ]
    },
    {
        "id": "dba965fbf263caf0",
        "type": "inject",
        "z": "7a9ca1740ef5409d",
        "g": "c2ca4631a9007acd",
        "name": "2 comfort",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1460,
        "y": 280,
        "wires": [
            [
                "7d92bde3faccede0"
            ]
        ]
    },
    {
        "id": "35b8d08871583f67",
        "type": "function",
        "z": "7a9ca1740ef5409d",
        "g": "c2ca4631a9007acd",
        "name": "func",
        "func": "//var deviceName = \"eui-33############08\"   // presence\nvar deviceName = \"eui-33############08\"   // presence\n//var deviceName = \"eui-36############19\"   // presence\n//var deviceName = \"eui-33############09\"   // presence\n\nmsg.payload = flow.get(\"last_msg_\" + deviceName)\nmsg.topic = msg.payload.topic\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1630,
        "y": 320,
        "wires": [
            [
                "f8d362cd424fec2c"
            ]
        ]
    },
    {
        "id": "17430f9fc19288ad",
        "type": "inject",
        "z": "7a9ca1740ef5409d",
        "g": "c2ca4631a9007acd",
        "name": "4 presence",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1460,
        "y": 320,
        "wires": [
            [
                "35b8d08871583f67"
            ]
        ]
    },
    {
        "id": "ee16e275b6d89ec7",
        "type": "function",
        "z": "7a9ca1740ef5409d",
        "g": "c2ca4631a9007acd",
        "name": "all 13 devices",
        "func": "msg.deviceNames = [\n    \"eui-24############43\",   // milesight\n    \"eui-35############05\",   // desk\n    \"eui-35############05\",   // desk\n    \"eui-36############14\",   // desk\n    \"eui-34############16\",   // comfort\n    \"eui-39############13\",   // comfort\n    \"eui-33############08\",   // presence\n    \"eui-33############08\",   // presence\n    \"eui-36############19\",   // presence\n    \"eui-33############09\",   // presence\n    \"eui-30############02\",   // peoplecounter\n    \"eui-70############d5\",   // vicki\n    \"eui-70############93\",   // vicki\n]\n\nfor (const [index, deviceName] of msg.deviceNames.entries()) {\n    var msgOut = {}\n    msgOut.payload = flow.get(\"last_msg_\" + deviceName)\n    msgOut.topic = msgOut.payload.topic\n    msgOut.delay = 500 + index * 1000\n    node.send([null, msgOut])\n}\n\nreturn [msg, null];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1660,
        "y": 400,
        "wires": [
            [
                "f38ebd5f33ed8ab1"
            ],
            [
                "3f00c7cc204b59e2",
                "d55a5fbd52eb97a6"
            ]
        ],
        "outputLabels": [
            "debug",
            "output"
        ]
    },
    {
        "id": "b1bb392b675da6b3",
        "type": "inject",
        "z": "7a9ca1740ef5409d",
        "g": "c2ca4631a9007acd",
        "name": "13 devices",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1460,
        "y": 400,
        "wires": [
            [
                "ee16e275b6d89ec7"
            ]
        ]
    },
    {
        "id": "f38ebd5f33ed8ab1",
        "type": "debug",
        "z": "7a9ca1740ef5409d",
        "g": "c2ca4631a9007acd",
        "name": "debug 191",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1870,
        "y": 420,
        "wires": []
    },
    {
        "id": "3b80d5c216e4806b",
        "type": "debug",
        "z": "7a9ca1740ef5409d",
        "g": "c2ca4631a9007acd",
        "name": "debug 192",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1870,
        "y": 560,
        "wires": []
    },
    {
        "id": "3f00c7cc204b59e2",
        "type": "delay",
        "z": "7a9ca1740ef5409d",
        "g": "c2ca4631a9007acd",
        "name": "",
        "pauseType": "delayv",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1860,
        "y": 500,
        "wires": [
            [
                "3b80d5c216e4806b",
                "f8d362cd424fec2c"
            ]
        ]
    },
    {
        "id": "d55a5fbd52eb97a6",
        "type": "debug",
        "z": "7a9ca1740ef5409d",
        "g": "c2ca4631a9007acd",
        "name": "debug 193",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1870,
        "y": 460,
        "wires": []
    },
    {
        "id": "0d2cbd1e49d4fed5",
        "type": "group",
        "z": "7a9ca1740ef5409d",
        "name": "Lora integration for Home Assistant",
        "style": {
            "label": true
        },
        "nodes": [
            "8fa5cf31d726f1c2",
            "2e541049cd02decd",
            "4a9a5d47560b0b15",
            "7ed3296465174056",
            "2010e6310f061b76",
            "ffc1db4fc55358df",
            "37ce952a02d47061",
            "d37afc8282157c48",
            "796890c44bb5545f",
            "b8052c2fe111f8de",
            "efc95a1f6a141e67",
            "5dbe3810ac6df608",
            "5bedb150507129af",
            "9e1abe1fb608453d",
            "c5cfc8c90ed1f394",
            "c08a273f04a78aaf",
            "be06e9e44dc236f2",
            "9ee0a79e2c655cd4",
            "01e12aafa46775c0",
            "a9b581ef43fd8f6e",
            "0d36028a3ef66407",
            "c228bbc3bf94cc68",
            "665cbc085cf0e36d",
            "9e547a0c833ef7c4",
            "9278e4d2460e27ac",
            "056833e6ec8213f6",
            "5c83bf2ee038d976",
            "e9b5d19c3d9ccc51",
            "24127f78bdda3cf3",
            "87718f1bfb618752",
            "a7509313985dc281",
            "e35c490a5c8e82b3",
            "c1e2d85659619f82",
            "a98fdf6d2ead0647",
            "9d48fbd2e4fc7fb8",
            "88fdb91c60fc52a3",
            "35fbdc64e3612f31",
            "b4c66b2ede456c5d",
            "864f743fd8ced61e",
            "ed7e02f1a8c6655b"
        ],
        "x": 94,
        "y": 59,
        "w": 1138,
        "h": 1628
    },
    {
        "id": "8fa5cf31d726f1c2",
        "type": "inject",
        "z": "7a9ca1740ef5409d",
        "g": "0d2cbd1e49d4fed5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "10800",
        "crontab": "",
        "once": true,
        "onceDelay": "2",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 160,
        "wires": [
            [
                "2e541049cd02decd"
            ]
        ]
    },
    {
        "id": "2e541049cd02decd",
        "type": "function",
        "z": "7a9ca1740ef5409d",
        "g": "0d2cbd1e49d4fed5",
        "name": "Settings to flow variable (flow.set)",
        "func": "// general settings\nmsg.settings = {\n    loraServer: \"https://eu1.cloud.thethings.network\",\n\n    joinKey2lorakey2ha: {\n        \"70B3D52DD3000000\": { \n            device: {\n                manufacturer: { name: \"MClimate\" },\n                model: { name: \"Vicki - LoRaWAN Smart Radiator Thermostat\" },\n                deviceVersions_software: { name: \"sw_version\" },\n                deviceVersions_hardware: { name: \"hw_version\" },\n            },\n            sensor: {\n                rssi: { name: \"signal_strength\", device_class: \"signal_strength\", unit_of_measurement: \"dBm\", icon: \"mdi:signal\", entity_category: \"diagnostic\" },\n                batteryPct: { name: \"battery\", device_class: \"battery\", unit_of_measurement: \"%\", entity_category: \"diagnostic\"},\n                relativeHumidity: { name: \"humidity\", device_class: \"humidity\", unit_of_measurement: \"%\" },\n                valvePct: { name: \"valve_open_status\", device_class: \"None\", unit_of_measurement: \"%\", icon: \"mdi:pipe-valve\" }\n            },\n            binary_sensor: {\n                attachedBackplate: { name: \"attached_backplate\", icon: \"mdi:engine\" },\n                childLock: { name: \"child_lock\", icon: \"mdi:lock\" },\n                openWindow: { name: \"open_window_detection\", icon: \"mdi:window-closed-variant\" },\n            },\n            climate: {\n                sensorTemperature: { name: \"current_temperature\" },\n                targetTemperature: { name: \"radiator_thermostat\", device_class: \"temperature\", unit_of_measurement: \"°C\", downlink: { fPort: 1, cmd: \"setTargetTemperature\" } },\n                temperatureRangeSettings_min: { name: \"min_temp\"},\n                temperatureRangeSettings_max: { name: \"max_temp\" },\n                operationalMode: { name: \"system_mode\"},\n                attachedBackplate: { name: \"attached_backplate\" },\n            },\n            number: {\n                temperatureRangeSettings_min: { name: \"min\" },\n                temperatureRangeSettings_max: { name: \"max\" },\n                targetTemperature: { name: \"temperature\", device_class: 'temperature', unit_of_measurement: \"°C\", downlink: { fPort: 1, cmd: \"setTargetTemperature\" } }\n            },\n            button: {\n                request_device_settings: { name: \"request_device_settings\", device_class: \"None\", icon: \"mdi:cog-outline\", entity_category: \"config\", downlink: { fPort: 1, cmd: \"getAllParams\" } },\n                request_device_version: { name: \"request_device_version\", device_class: \"None\", icon: \"mdi:cog-outline\", entity_category: \"config\", downlink: { fPort: 1, cmd: \"getDeviceVersions\" } },\n            }\n        },\n        \"70B3D52DD800000099\": {\n            device: {\n                manufacturer: { name: \"MClimate\" },\n                model: { name: \"WirelessThermostat\"},\n                deviceVersions_software: { name: \"sw_version\" },\n                deviceVersions_hardware: { name: \"hw_version\" },\n            },\n        },\n        \"24E124C0002A0001\": {\n            device: { \n                manufacturer: { name: \"Milesight\" },\n                model: { name: \"WS523 - Smart Portable Socket\" },\n                softwareVersion: { name: \"sw_version\" },\n                hardwareVersion: { name: \"hw_version\" },\n            },\n            sensor: {\n                rssi: { name: \"signal_strength\", device_class: \"signal_strength\", unit_of_measurement: \"dBm\", icon: \"mdi:signal\", entity_category: \"diagnostic\" },\n                factor: { name: \"power_factor\", device_class: \"power_factor\", unit_of_measurement: \"%\" },\n                power: { name: \"power\", device_class: \"power\", unit_of_measurement: \"W\" },\n                power_sum: { name: \"energy_total\", device_class: \"energy\", unit_of_measurement: \"Wh\" },\n                voltage: { name: \"voltage\", device_class: \"voltage\", unit_of_measurement: \"V\" }\n            },\n            switch: {\n                state: { name: \"switch\", downlink: { fPort: 1, cmd: \"setState\", on: \"open\", off: \"close\" } }\n            },\n        },\n        \"70B3D5FFFE0B5002\": { \n            device: { \n                manufacturer: { name: \"OfficeSense\" },\n                model: { name: \"Comfort\" },\n                swVersion: { name: \"sw_version\" },\n                hwVersion: { name: \"hw_version\" },\n            },\n            sensor: {\n                rssi: { name: \"signal_strength\", device_class: \"signal_strength\", unit_of_measurement: \"dBm\", icon: \"mdi:signal\", entity_category: \"diagnostic\" },\n                vddPct: { name: \"battery\", device_class: \"battery\", unit_of_measurement: \"%\", entity_category: \"diagnostic\"},\n                humidity: { name: \"humidity\", device_class: \"humidity\", unit_of_measurement: \"%\" },\n                tempC: { name: \"temperature\", device_class: \"temperature\", unit_of_measurement: \"°C\" },\n            },\n            button: {\n                request_device_version: { name: \"request_device_version\", device_class: \"None\", icon: \"mdi:cog-outline\", entity_category: \"config\", downlink: { fPort: 200, cmd: \"getDeviceVersions\" } },\n            }\n        },\n        \"70B3D5FFFE0B5502\": { \n            device: { \n                manufacturer: { name: \"OfficeSense\" },\n                model: { name: \"Comfort\" },\n                swVersion: { name: \"sw_version\" },\n                hwVersion: { name: \"hw_version\" },\n            },\n            sensor: {\n                rssi: { name: \"signal_strength\", device_class: \"signal_strength\", unit_of_measurement: \"dBm\", icon: \"mdi:signal\", entity_category: \"diagnostic\" },\n                vddPct: { name: \"battery\", device_class: \"battery\", unit_of_measurement: \"%\", entity_category: \"diagnostic\"},\n                humidity: { name: \"humidity\", device_class: \"humidity\", unit_of_measurement: \"%\" },\n                tempC: { name: \"temperature\", device_class: \"temperature\", unit_of_measurement: \"°C\" },\n                co2: { name: \"carbon_dioxide\", device_class: \"carbon_dioxide\", unit_of_measurement: \"ppm\" },\n                sound: { name: \"sound\", device_class: \"sound_pressure\", unit_of_measurement: \"dBA\" },\n                lux: { name: \"light\", device_class: \"illuminance\", unit_of_measurement: \"lx\" },\n            },\n            button: {\n                request_device_version: { name: \"request_device_version\", device_class: \"None\", icon: \"mdi:cog-outline\", entity_category: \"config\", downlink: { fPort: 200, cmd: \"getDeviceVersions\" } },\n            }\n        },\n        \"70B3D5FFFE0B5005\": { \n            device: { \n                manufacturer: { name: \"OfficeSense\" },\n                model: { name: \"Desk\" },\n                swVersion: { name: \"sw_version\" },\n                hwVersion: { name: \"hw_version\" },\n            },\n            sensor: {\n                vddPct: { name: \"battery\", device_class: \"battery\", unit_of_measurement: \"%\", entity_category: \"diagnostic\"},\n                rssi: { name: \"signal_strength\", device_class: \"signal_strength\", unit_of_measurement: \"dBm\", icon: \"mdi:signal\", entity_category: \"diagnostic\" },\n            },\n            binary_sensor: {\n                occupied: { name: \"occupancy\", device_class: \"occupancy\" }\n            },\n            button: {\n                request_device_version: { name: \"request_device_version\", device_class: \"None\", icon: \"mdi:cog-outline\", entity_category: \"config\", downlink: { fPort: 200, cmd: \"getDeviceVersions\" } },\n            }\n        },\n        \"70B3D5FFFE0B5505\": { \n            device: { \n                manufacturer: { name: \"OfficeSense\" },\n                model: { name: \"Desk\" },\n                swVersion: { name: \"sw_version\" },\n                hwVersion: { name: \"hw_version\" },\n            },\n            sensor: {\n                vddPct: { name: \"battery\", device_class: \"battery\", unit_of_measurement: \"%\", entity_category: \"diagnostic\"},\n                rssi: { name: \"signal_strength\", device_class: \"signal_strength\", unit_of_measurement: \"dBm\", icon: \"mdi:signal\", entity_category: \"diagnostic\" },\n            },\n            binary_sensor: {\n                occupied: { name: \"occupancy\", device_class: \"occupancy\" }\n            },\n            button: {\n                request_device_version: { name: \"request_device_version\", device_class: \"None\", icon: \"mdi:cog-outline\", entity_category: \"config\", downlink: { fPort: 200, cmd: \"getDeviceVersions\" } },\n            }\n        },\n        \"70B3D5FFFE0B5001\": { \n            device: { \n                manufacturer: { name: \"OfficeSense\" },\n                model: { name: \"Presence\" },\n                swVersion: { name: \"sw_version\" },\n                hwVersion: { name: \"hw_version\" },\n            },\n            sensor: {\n                rssi: { name: \"signal_strength\", device_class: \"signal_strength\", unit_of_measurement: \"dBm\", icon: \"mdi:signal\", entity_category: \"diagnostic\" },\n                vddPct: { name: \"battery\", device_class: \"battery\", unit_of_measurement: \"%\", entity_category: \"diagnostic\"},\n                humidity: { name: \"humidity\", device_class: \"humidity\", unit_of_measurement: \"%\" },\n                tempC: { name: \"temperature\", device_class: \"temperature\", unit_of_measurement: \"°C\" },\n            },\n            binary_sensor: {\n                occupied: { name: \"occupancy\", device_class: \"occupancy\" }\n            },\n            button: {\n                request_device_version: { name: \"request_device_version\", device_class: \"None\", icon: \"mdi:cog-outline\", entity_category: \"config\", downlink: { fPort: 200, cmd: \"getDeviceVersions\" } },\n            }\n        },\n        \"70B3D5FFFE0B5501\": { \n            device: { \n                manufacturer: { name: \"OfficeSense\" },\n                model: { name: \"Presence\" },\n                swVersion: { name: \"sw_version\" },\n                hwVersion: { name: \"hw_version\" },\n            },\n            sensor: {\n                vddPct: { name: \"battery\", device_class: \"battery\", unit_of_measurement: \"%\", entity_category: \"diagnostic\"},\n                rssi: { name: \"signal_strength\", device_class: \"signal_strength\", unit_of_measurement: \"dBm\", icon: \"mdi:signal\", entity_category: \"diagnostic\" },\n                humidity: { name: \"humidity\", device_class: \"humidity\", unit_of_measurement: \"%\" },\n                tempC: { name: \"temperature\", device_class: \"temperature\", unit_of_measurement: \"°C\" },\n            },\n            binary_sensor: {\n                occupied: { name: \"occupancy\", device_class: \"occupancy\" }\n            },\n            button: {\n                request_device_version: { name: \"request_device_version\", device_class: \"None\", icon: \"mdi:cog-outline\", entity_category: \"config\", downlink: { fPort: 200, cmd: \"getDeviceVersions\" } },\n            }\n        },\n    },\n}\n\nflow.set( \"settings\", msg.settings )\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 160,
        "wires": [
            [
                "4a9a5d47560b0b15"
            ]
        ]
    },
    {
        "id": "4a9a5d47560b0b15",
        "type": "debug",
        "z": "7a9ca1740ef5409d",
        "g": "0d2cbd1e49d4fed5",
        "name": "debug 164",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1090,
        "y": 160,
        "wires": []
    },
    {
        "id": "7ed3296465174056",
        "type": "debug",
        "z": "7a9ca1740ef5409d",
        "g": "0d2cbd1e49d4fed5",
        "name": "debug 165",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1090,
        "y": 240,
        "wires": []
    },
    {
        "id": "2010e6310f061b76",
        "type": "debug",
        "z": "7a9ca1740ef5409d",
        "g": "0d2cbd1e49d4fed5",
        "name": "debug 166",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1090,
        "y": 300,
        "wires": []
    },
    {
        "id": "ffc1db4fc55358df",
        "type": "junction",
        "z": "7a9ca1740ef5409d",
        "g": "0d2cbd1e49d4fed5",
        "x": 800,
        "y": 360,
        "wires": [
            [
                "9ee0a79e2c655cd4",
                "a9b581ef43fd8f6e"
            ]
        ]
    },
    {
        "id": "37ce952a02d47061",
        "type": "group",
        "z": "7a9ca1740ef5409d",
        "g": "0d2cbd1e49d4fed5",
        "name": "Command (downlink) to lora device",
        "style": {
            "label": true
        },
        "nodes": [
            "5ab2af1e1f9d1e04",
            "325765eca6ea9195",
            "f2bc3993be833f71",
            "9d1077b3e83fb2f3",
            "332a360722a27691",
            "291e7b4f226fdde5",
            "80f7f91d703e5377",
            "9b7265147796ee04",
            "dc975f31375b3c60",
            "d2f839b91ff9421f",
            "e93863cff36d33be",
            "0479323724a86060"
        ],
        "x": 174,
        "y": 1319,
        "w": 1032,
        "h": 342
    },
    {
        "id": "5ab2af1e1f9d1e04",
        "type": "function",
        "z": "7a9ca1740ef5409d",
        "g": "37ce952a02d47061",
        "name": "Downlink for lora and update HA",
        "func": "msg.settings = flow.get(\"settings\")\nif(!msg.result) {\n    msg.result = {}\n}\n\nmsg.result.manufacturer = msg.topic.split(\"/\")[1]\nmsg.result.application = msg.topic.split(\"/\")[2]\nmsg.result.deviceName = msg.topic.split(\"/\")[3]\nmsg.result.join_eui = msg.topic.split(\"/\")[4]\nmsg.result.integration = msg.topic.split(\"/\")[6]\nmsg.result.sensor = msg.topic.split(\"/\")[7]\nmsg.result.value = msg.payload\n\nmsg.result.test = msg.settings.joinKey2lorakey2ha[msg.result.join_eui][msg.result.integration]\n\n\n// ######################\n// ##  create lora downlink command\n// ######################\nmsg.result.loraDownlinkCmd = []\nfor (const [key, value] of Object.entries(msg.settings.joinKey2lorakey2ha[msg.result.join_eui][msg.result.integration])) {\n    if ( value.name == msg.result.sensor ) {\n        if ( value.downlink ) {\n            msg.result.downlinkCmd = value.downlink.cmd\n            var objLora = {\n                topic: \"v3/\" + msg.result.application + \"@ttn/devices/\" + msg.result.deviceName + \"/down/push\",\n                payload: {\n                    downlinks: [\n                        {\n                            f_port: value.downlink.fPort,\n                            decoded_payload: { [value.downlink.cmd]: msg.result.value },\n                            priority: \"NORMAL\",\n                            confirmed: false\n                        }\n                    ]\n                },\n                application: msg.result.application\n            }\n            msg.result.loraDownlinkCmd.push(objLora)\n        }\n    }\n}\n\n// ######################\n// ##  create update Home Assistant\n// ######################\nmsg.result.homeassistantCmd = []\nfor (const [integration, integrationValue] of Object.entries(msg.settings.joinKey2lorakey2ha[msg.result.join_eui])) {\n    if ( integration != \"button\" ) {\n        for (const [loraKey, sensorValue] of Object.entries(integrationValue)) {\n            if ( sensorValue.downlink ) {\n                if ( sensorValue.downlink.cmd == msg.result.downlinkCmd ) {\n                    var objHa = {\n                        topic: \"lora2nodered2mqtt/\" + msg.result.manufacturer + \"/\" + msg.result.deviceName + \"/get/\" + integration + \"/\" + sensorValue.name,\n                        payload: { value: msg.result.value },\n                    }\n                    msg.result.homeassistantCmd.push(objHa)\n                }\n            }\n        }\n    }\n}\n\n\n// ######################\n// ##  create lora downlink command\n// ######################\nfor (const msgLora of msg.result.loraDownlinkCmd) {\n    node.send([null, null, msgLora])\n}\n\n\n// ######################\n// ##  send update Home Assistant\n// ######################\nfor (const msgHa of msg.result.homeassistantCmd) {\n    node.send([null, msgHa, null])\n}\n\nreturn [msg, null, null]",
        "outputs": 3,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 1400,
        "wires": [
            [
                "325765eca6ea9195"
            ],
            [
                "f2bc3993be833f71",
                "d37afc8282157c48"
            ],
            [
                "9d1077b3e83fb2f3",
                "332a360722a27691"
            ]
        ],
        "outputLabels": [
            "debug",
            "output mqtt HA device values",
            "output mqtt downlink Lora server"
        ]
    },
    {
        "id": "325765eca6ea9195",
        "type": "debug",
        "z": "7a9ca1740ef5409d",
        "g": "37ce952a02d47061",
        "name": "debug 167",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1090,
        "y": 1360,
        "wires": []
    },
    {
        "id": "f2bc3993be833f71",
        "type": "debug",
        "z": "7a9ca1740ef5409d",
        "g": "37ce952a02d47061",
        "name": "debug 168",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1090,
        "y": 1400,
        "wires": []
    },
    {
        "id": "9d1077b3e83fb2f3",
        "type": "debug",
        "z": "7a9ca1740ef5409d",
        "g": "37ce952a02d47061",
        "name": "debug 169",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1090,
        "y": 1440,
        "wires": []
    },
    {
        "id": "332a360722a27691",
        "type": "junction",
        "z": "7a9ca1740ef5409d",
        "g": "37ce952a02d47061",
        "x": 400,
        "y": 1480,
        "wires": [
            [
                "80f7f91d703e5377",
                "291e7b4f226fdde5"
            ]
        ]
    },
    {
        "id": "291e7b4f226fdde5",
        "type": "function",
        "z": "7a9ca1740ef5409d",
        "g": "37ce952a02d47061",
        "name": "TTN - app-02",
        "func": "if (msg.application == \"app-02\") {\n    return msg;\n}\n\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 1580,
        "wires": [
            [
                "e93863cff36d33be",
                "d2f839b91ff9421f"
            ]
        ]
    },
    {
        "id": "80f7f91d703e5377",
        "type": "function",
        "z": "7a9ca1740ef5409d",
        "g": "37ce952a02d47061",
        "name": "TTN - app-01",
        "func": "if (msg.application == \"app-01\") {\n    return msg;\n}\n\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 1480,
        "wires": [
            [
                "dc975f31375b3c60",
                "9b7265147796ee04"
            ]
        ]
    },
    {
        "id": "9b7265147796ee04",
        "type": "debug",
        "z": "7a9ca1740ef5409d",
        "g": "37ce952a02d47061",
        "name": "debug 195",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1090,
        "y": 1480,
        "wires": []
    },
    {
        "id": "dc975f31375b3c60",
        "type": "mqtt out",
        "z": "7a9ca1740ef5409d",
        "d": true,
        "g": "37ce952a02d47061",
        "name": "TTN - app-01",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "364cba795bd47ac5",
        "x": 1090,
        "y": 1520,
        "wires": []
    },
    {
        "id": "d2f839b91ff9421f",
        "type": "debug",
        "z": "7a9ca1740ef5409d",
        "g": "37ce952a02d47061",
        "name": "debug 194",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1090,
        "y": 1580,
        "wires": []
    },
    {
        "id": "e93863cff36d33be",
        "type": "mqtt out",
        "z": "7a9ca1740ef5409d",
        "d": true,
        "g": "37ce952a02d47061",
        "name": "TTN - app-02",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "34b3812930585fe6",
        "x": 1090,
        "y": 1620,
        "wires": []
    },
    {
        "id": "0479323724a86060",
        "type": "mqtt in",
        "z": "7a9ca1740ef5409d",
        "d": true,
        "g": "37ce952a02d47061",
        "name": "HomeAssistant",
        "topic": "mqtt2nodered2lora/#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "d02c3570ba850c4f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 280,
        "y": 1400,
        "wires": [
            [
                "5ab2af1e1f9d1e04"
            ]
        ]
    },
    {
        "id": "364cba795bd47ac5",
        "type": "mqtt-broker",
        "name": "TTN - app-01",
        "broker": "eu1.cloud.thethings.network",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "34b3812930585fe6",
        "type": "mqtt-broker",
        "name": "TTN - app-02",
        "broker": "eu1.cloud.thethings.network",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "d02c3570ba850c4f",
        "type": "mqtt-broker",
        "name": "HomeAssistant",
        "broker": "homeassistant.local",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "d37afc8282157c48",
        "type": "delay",
        "z": "7a9ca1740ef5409d",
        "g": "0d2cbd1e49d4fed5",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 540,
        "y": 1260,
        "wires": [
            [
                "b4c66b2ede456c5d"
            ]
        ]
    },
    {
        "id": "796890c44bb5545f",
        "type": "comment",
        "z": "7a9ca1740ef5409d",
        "g": "0d2cbd1e49d4fed5",
        "name": "url's for mqtt integration",
        "info": "https://www.home-assistant.io/integrations/mqtt/\n\n\n==== The options are implemented ====\n\nhttps://www.home-assistant.io/integrations/sensor/\nhttps://www.home-assistant.io/integrations/sensor.mqtt/\n\nhttps://www.home-assistant.io/integrations/binary_sensor/\nhttps://www.home-assistant.io/integrations/binary_sensor.mqtt/\n\nhttps://www.home-assistant.io/integrations/switch/\nhttps://www.home-assistant.io/integrations/switch.mqtt/\n\n\n\n==== Following are not yet implemented and probably there are more options ====\n\nhttps://www.home-assistant.io/integrations/climate/\nhttps://www.home-assistant.io/integrations/climate.mqtt/\n\nhttps://www.home-assistant.io/integrations/valve/\nhttps://www.home-assistant.io/integrations/valve.mqtt/\n\n\n==== diagnostics data ====\nhttps://community.home-assistant.io/t/entity-category-mqtt-diagnostic-and-config/609731\n\n\n==== icons ====\nhttps://pictogrammers.com/library/mdi/\n",
        "x": 1040,
        "y": 100,
        "wires": []
    },
    {
        "id": "b8052c2fe111f8de",
        "type": "function",
        "z": "7a9ca1740ef5409d",
        "g": "0d2cbd1e49d4fed5",
        "name": "push haConfigQueue to mqtt",
        "func": "for (const command of msg.result.haConfigQueue) {\n    var msgOut = command\n    node.send(msgOut, null)\n}\n\nreturn [null, msg];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 1060,
        "wires": [
            [
                "efc95a1f6a141e67"
            ],
            [
                "5dbe3810ac6df608",
                "c08a273f04a78aaf",
                "b4c66b2ede456c5d"
            ]
        ],
        "outputLabels": [
            "mqtt",
            "output"
        ]
    },
    {
        "id": "efc95a1f6a141e67",
        "type": "debug",
        "z": "7a9ca1740ef5409d",
        "g": "0d2cbd1e49d4fed5",
        "name": "debug 174",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1090,
        "y": 1040,
        "wires": []
    },
    {
        "id": "5dbe3810ac6df608",
        "type": "debug",
        "z": "7a9ca1740ef5409d",
        "g": "0d2cbd1e49d4fed5",
        "name": "debug 175",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1090,
        "y": 1080,
        "wires": []
    },
    {
        "id": "5bedb150507129af",
        "type": "function",
        "z": "7a9ca1740ef5409d",
        "g": "0d2cbd1e49d4fed5",
        "name": "push haValueQueueto mqtt",
        "func": "for (const command of msg.result.haValueQueue) {\n    var msgOut = command\n    node.send(msgOut, null)\n}\n\nreturn [null, msg];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 1180,
        "wires": [
            [
                "c5cfc8c90ed1f394"
            ],
            [
                "9e1abe1fb608453d",
                "b4c66b2ede456c5d"
            ]
        ],
        "outputLabels": [
            "mqtt",
            "output"
        ]
    },
    {
        "id": "9e1abe1fb608453d",
        "type": "debug",
        "z": "7a9ca1740ef5409d",
        "g": "0d2cbd1e49d4fed5",
        "name": "debug 176",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1090,
        "y": 1200,
        "wires": []
    },
    {
        "id": "c5cfc8c90ed1f394",
        "type": "debug",
        "z": "7a9ca1740ef5409d",
        "g": "0d2cbd1e49d4fed5",
        "name": "debug 177",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1090,
        "y": 1160,
        "wires": []
    },
    {
        "id": "c08a273f04a78aaf",
        "type": "delay",
        "z": "7a9ca1740ef5409d",
        "g": "0d2cbd1e49d4fed5",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 540,
        "y": 1120,
        "wires": [
            [
                "5bedb150507129af"
            ]
        ]
    },
    {
        "id": "be06e9e44dc236f2",
        "type": "link in",
        "z": "7a9ca1740ef5409d",
        "g": "0d2cbd1e49d4fed5",
        "name": "test payload in",
        "links": [
            "edc76bb5f6e8030a"
        ],
        "x": 165,
        "y": 360,
        "wires": [
            [
                "ffc1db4fc55358df"
            ]
        ]
    },
    {
        "id": "9ee0a79e2c655cd4",
        "type": "link out",
        "z": "7a9ca1740ef5409d",
        "g": "0d2cbd1e49d4fed5",
        "name": "test payload out",
        "mode": "link",
        "links": [
            "5d167db9e61269a5"
        ],
        "x": 1035,
        "y": 360,
        "wires": []
    },
    {
        "id": "01e12aafa46775c0",
        "type": "comment",
        "z": "7a9ca1740ef5409d",
        "g": "0d2cbd1e49d4fed5",
        "name": "Version 2.0   (2024-12-23)",
        "info": "",
        "x": 230,
        "y": 100,
        "wires": []
    },
    {
        "id": "a9b581ef43fd8f6e",
        "type": "function",
        "z": "7a9ca1740ef5409d",
        "g": "0d2cbd1e49d4fed5",
        "name": "Collect all data",
        "func": "function checkKeyInObj(key, obj) {\n    if (typeof obj !== 'object' || obj === null) {\n        return false;\n    }\n\n    const keys = key.split('.')\n\n    for ( const part of keys ) {\n        const match = part.match(/^([^\\[\\]]+)(?:\\[(\\d+)\\])?$/); // Matches \"property\" or \"property[index]\"\n        if ( !match ) {\n            return { exist: false, value: undefined };\n        }\n\n        const property = match[1] // The property name\n        const index = match[2]   // The optional array index\n\n        // Ensure `obj` is an object or array and has the property\n        if ( typeof obj !== 'object' || obj === null || !( property in obj ) ) {\n            return { exist: false, value: undefined }\n        }\n        obj = obj[property] // Move to the next level\n\n        // Handle array indexing\n        if (index !== undefined) {\n            if ( !Array.isArray(obj) || !( index in obj ) ) {\n                return { exists: false, value: undefined }\n            }\n            obj = obj[index]; // Move to the indexed array element\n        }\n    }\n    return { exist: true, value: obj }\n}\n\nfunction dateConvert(timestamp) {\n    const date = new Date(timestamp)\n    var day = date.getDate().toString()\n    var month = (date.getMonth() + 1).toString()\n    var year = date.getFullYear().toString()\n    var hour = date.getHours().toString()\n    var minutes = date.getMinutes().toString()\n    var seconds = date.getSeconds().toString()\n\n    day = checkZero(day)\n    month = checkZero(month)\n    year = checkZero(year)\n    hour = checkZero(hour)\n    minutes = checkZero(minutes)\n    seconds = checkZero(seconds)\n\n    return year + \"/\" + month + \"/\" + day + \" \" + hour + \":\" + minutes + \":\" + seconds + \" GMT\"\n}\n\nfunction checkZero(data) {\n    if (data.length == 1) {\n        data = \"0\" + data;\n    }\n    return data;\n}\n\nmsg.settings = flow.get(\"settings\")\nif (!msg.result) {\n    msg.result = {}\n}\n\nmsg.result.loraData = { metaData: {}, sensorData: {} }\n\n// read the new lora message\nif (msg.payload.end_device_ids) {\n    if (msg.payload.end_device_ids.device_id) {\n        msg.result.loraData.metaData.deviceName = msg.payload.end_device_ids.device_id\n        msg.result.loraData.metaData.join_eui = msg.payload.end_device_ids.join_eui\n        msg.result.loraData.metaData.application = msg.payload.end_device_ids.application_ids.application_id\n        msg.result.loraData.metaData.timestamp = Date.parse(msg.payload.received_at)\n        msg.result.loraData.metaData.timestamp_hr = dateConvert(Date.parse(msg.payload.received_at))\n\n        // get strongest rssi from gateway\n        \n        let rx_metadata = {value: []}\n        rx_metadata = checkKeyInObj( \"payload.uplink_message.rx_metadata\", msg )\n        if ( rx_metadata.exist ) {\n            for (const [index, loraValue] of rx_metadata.value.entries()) {\n                if (!msg.result.loraData.sensorData) {\n                    msg.result.loraData.sensorData = {}\n                }\n                if (!msg.result.loraData.sensorData.rssi) {\n                    msg.result.loraData.sensorData.rssi = loraValue.rssi\n                } else if (loraValue.rssi > msg.result.loraData.sensorData.rssi) {\n                    msg.result.loraData.sensorData.rssi = loraValue.rssi\n                }\n            }\n        }\n\n        let decoded_payload = {value: {}}\n        decoded_payload = checkKeyInObj( \"payload.uplink_message.decoded_payload\", msg )\n        if ( decoded_payload.exist ) {\n            for (const [loraKey, loraValue] of Object.entries(decoded_payload.value)) {\n                if (!msg.result.loraData.sensorData) {\n                    msg.result.loraData.sensorData = {}\n                }\n                if (typeof (loraValue) != \"object\") {\n                    msg.result.loraData.sensorData[loraKey] = loraValue\n                } else {\n                    for (var [loraKeySub, loraValueSub] of Object.entries(loraValue)) {\n                        msg.result.loraData.sensorData[loraKey + \"_\" + loraKeySub] = loraValueSub\n                    }\n                }\n            }\n        }\n    }\n}\n\n\n\n// read the prefious message from node red memory\nif ( msg.result.loraData.metaData.deviceName ) {\n    msg.result.previousData = flow.get(\"previous_\" + msg.result.loraData.metaData.deviceName) || { metaData: {}, sensorData: {} }\n}\n\nmsg.result.currentData = {\n    metaData: Object.assign({}, msg.result.previousData.metaData, msg.result.loraData.metaData),\n    sensorData: Object.assign({}, msg.result.previousData.sensorData, msg.result.loraData.sensorData),\n}\n\nflow.set(\"previous_\" + msg.result.loraData.metaData.deviceName, msg.result.currentData)\n\n\nif (msg.settings.joinKey2lorakey2ha[msg.result.currentData.metaData.join_eui] ) {\n    var msgOut = {\n        settings: msg.settings,\n        result: msg.result\n    }\n\n    return [msg, msgOut];\n}\n\nreturn [msg, null]",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 440,
        "wires": [
            [
                "0d36028a3ef66407"
            ],
            [
                "c228bbc3bf94cc68",
                "665cbc085cf0e36d"
            ]
        ],
        "outputLabels": [
            "debug",
            "output"
        ]
    },
    {
        "id": "0d36028a3ef66407",
        "type": "debug",
        "z": "7a9ca1740ef5409d",
        "g": "0d2cbd1e49d4fed5",
        "name": "debug 179",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1090,
        "y": 420,
        "wires": []
    },
    {
        "id": "c228bbc3bf94cc68",
        "type": "debug",
        "z": "7a9ca1740ef5409d",
        "g": "0d2cbd1e49d4fed5",
        "name": "debug 180",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1090,
        "y": 460,
        "wires": []
    },
    {
        "id": "665cbc085cf0e36d",
        "type": "function",
        "z": "7a9ca1740ef5409d",
        "g": "0d2cbd1e49d4fed5",
        "name": "collect device topic and distribute values to the correct integration",
        "func": "var metaData = msg.result.currentData.metaData\nvar sensorData = msg.result.currentData.sensorData\n\nmsg.deviceConfig = msg.settings.joinKey2lorakey2ha[metaData.join_eui]\n\nmsg.result.integration = {}\n\nmsg.result.general = {\n    deviceName: metaData.deviceName,\n    application: metaData.application,\n    join_eui: metaData.join_eui,\n}\n\nmsg.manufacturerId = msg.deviceConfig.device.manufacturer.name.replaceAll(\" \",\"_\")\nmsg.result.general.topicDeviceGet = \"lora2nodered2mqtt/\" + msg.manufacturerId + \"/\" + metaData.deviceName + \"/get\"\nmsg.result.general.topicDeviceSet = \"mqtt2nodered2lora/\" + msg.manufacturerId + \"/\" + metaData.application + \"/\" + metaData.deviceName + \"/\" + metaData.join_eui + \"/set\"\n\nmsg.result.integration.device = {\n    identifiers: [\"lora2nodered2mqtt_\" + metaData.deviceName],\n    name: metaData.deviceName,\n    configuration_url: msg.settings.loraServer + \"/console/applications/\" + metaData.application + \"/devices/\" + metaData.deviceName\n}\nif (msg.deviceConfig.device.manufacturer ) {\n    msg.result.integration.device.manufacturer = msg.deviceConfig.device.manufacturer.name + \" (LoRa device)\"\n}\nif (msg.deviceConfig.device.model ) {\n    msg.result.integration.device.model = msg.deviceConfig.device.model.name\n}\n\nmsg.result.key_skipped = {}\nfor ( const [loraKey, loraValue] of Object.entries(msg.result.currentData.sensorData) ) {\n    var keySelect = true\n    for ( const [integration, keysObject] of Object.entries(msg.deviceConfig) ) {\n        for (const [key, config] of Object.entries(keysObject) ) {\n            if ( loraKey == key ) {\n                var keySelect = false\n                if ( !msg.result.integration[integration] ) {\n                    msg.result.integration[integration] = {}\n                }\n                let name = loraKey\n                if (config.name) {\n                    name = config.name\n                }\n                if ( integration == \"device\" ) {\n                    msg.result.integration[integration][name] = loraValue\n                } else {\n                    msg.result.integration[integration][name] = config\n                    msg.result.integration[integration][name].value = loraValue\n                    delete msg.result.integration[integration][name].name\n                }\n            }\n        }\n    }\n    if ( keySelect ) {\n        msg.result.key_skipped[loraKey] = loraValue\n    }\n}\n\nmsg.result.haConfigQueue = []\nmsg.result.haValueQueue = []\n\nvar msgOut = {\n    settings: msg.settings,\n    result: msg.result\n}\n\nreturn [msg, msgOut];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 560,
        "wires": [
            [
                "9278e4d2460e27ac"
            ],
            [
                "9e547a0c833ef7c4",
                "056833e6ec8213f6"
            ]
        ],
        "outputLabels": [
            "debug",
            "output"
        ]
    },
    {
        "id": "9e547a0c833ef7c4",
        "type": "debug",
        "z": "7a9ca1740ef5409d",
        "g": "0d2cbd1e49d4fed5",
        "name": "debug 181",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1090,
        "y": 580,
        "wires": []
    },
    {
        "id": "9278e4d2460e27ac",
        "type": "debug",
        "z": "7a9ca1740ef5409d",
        "g": "0d2cbd1e49d4fed5",
        "name": "debug 182",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1090,
        "y": 540,
        "wires": []
    },
    {
        "id": "056833e6ec8213f6",
        "type": "function",
        "z": "7a9ca1740ef5409d",
        "g": "0d2cbd1e49d4fed5",
        "name": "process integration \"sensor\"",
        "func": "var general = msg.result.general\n\nvar integration = \"sensor\"\nif ( msg.result.integration[integration] ) {\n    for ( const [key, valueObj] of Object.entries(msg.result.integration[integration]) ) {\n\n        // #########################        \n        // ##  Integration configuration\n        // #########################        \n        var objConfig = {}\n        objConfig.topic = \"homeassistant/\" + integration + \"/\" + general.deviceName + \"/\" + key + \"/config\"\n        objConfig.payload = {\n            device: msg.result.integration.device,\n            name: key.replaceAll(\"_\", \" \").replace(/\\b./g, function(m){ return m.toUpperCase(); }),\n            object_id: general.deviceName + \"_\" + integration + \"_\" + key,\n            unique_id: general.deviceName + \"_\" + integration + \"_\" + key + \"_lora2nodered2mqtt\",\n            state_topic: general.topicDeviceGet + \"/\" + integration + \"/\" + key,\n            json_attributes_topic: general.topicDeviceGet + \"/\" + integration + \"/\" + key,\n            value_template: \"{{ value_json.value }}\",\n        }\n        if ( valueObj.entity_category ) {\n            objConfig.payload.entity_category = valueObj.entity_category\n        }\n        if ( valueObj.icon ) {\n            objConfig.payload.icon = valueObj.icon\n        }\n        if ( valueObj.device_class ) {\n            if ( valueObj.device_class != \"None\" ) {\n                objConfig.payload.device_class = valueObj.device_class\n            }\n        }\n        if ( valueObj.unit_of_measurement ) {\n            objConfig.payload.unit_of_measurement = valueObj.unit_of_measurement\n        }\n        msg.result.haConfigQueue.push(objConfig)\n\n\n        // #########################        \n        // ##  Integration values\n        // #########################        \n        var objValue = {\n            topic: msg.result.general.topicDeviceGet + \"/\" + integration + \"/\" + key,\n            payload: {value: valueObj.value}\n        }\n        msg.result.haValueQueue.push(objValue)\n    }\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 640,
        "wires": [
            [
                "5c83bf2ee038d976",
                "e9b5d19c3d9ccc51"
            ]
        ]
    },
    {
        "id": "5c83bf2ee038d976",
        "type": "debug",
        "z": "7a9ca1740ef5409d",
        "g": "0d2cbd1e49d4fed5",
        "name": "debug 183",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1090,
        "y": 640,
        "wires": []
    },
    {
        "id": "e9b5d19c3d9ccc51",
        "type": "function",
        "z": "7a9ca1740ef5409d",
        "g": "0d2cbd1e49d4fed5",
        "name": "process integration \"binary_sensor\"",
        "func": "var general = msg.result.general\n\nvar integration = \"binary_sensor\"\nif ( msg.result.integration[integration] ) {\n    for ( const [key, valueObj] of Object.entries(msg.result.integration[integration]) ) {\n\n        // #########################        \n        // ##  Integration configuration\n        // #########################        \n        var objConfig = {}\n        objConfig.topic = \"homeassistant/\" + integration + \"/\" + general.deviceName + \"/\" + key + \"/config\"\n        objConfig.payload = {\n            device: msg.result.integration.device,\n            name: key.replace(/_/g, \" \").replace(/\\b./g, function (m) { return m.toUpperCase(); }),\n            object_id: general.deviceName + \"_\" + integration + \"_\" + key,\n            unique_id: general.deviceName + \"_\" + integration + \"_\" + key + \"_lora2nodered2mqtt\",\n            state_topic: general.topicDeviceGet + \"/\" + integration + \"/\" + key,\n            json_attributes_topic: general.topicDeviceGet + \"/\" + integration + \"/\" + key,\n            value_template: \"{{ value_json.value }}\",\n            payload_on: true,\n            payload_off: false,\n        }\n        if ( valueObj.entity_category ) {\n            objConfig.payload.entity_category = valueObj.entity_category\n        }\n        if ( valueObj.icon ) {\n            objConfig.payload.icon = valueObj.icon\n        }\n        if ( valueObj.device_class ) {\n            if ( valueObj.device_class != \"None\" ) {\n                objConfig.payload.device_class = valueObj.device_class\n            }\n        }\n        msg.result.haConfigQueue.push(objConfig)\n\n\n        // #########################        \n        // ##  Integration values\n        // #########################        \n        if ( valueObj.value === true || valueObj.value === false ) {\n            var value = valueObj.value\n        } else {\n            if ( valueObj.value == 0 ) {\n                value = false\n            } else {\n                value = true\n            }\n        }\n        var objValue = {\n            topic: general.topicDeviceGet + \"/\" + integration + \"/\" + key,\n            payload: {value: value}\n        }\n        msg.result.haValueQueue.push(objValue)\n    }\n}\n\nreturn msg;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 700,
        "wires": [
            [
                "24127f78bdda3cf3",
                "c1e2d85659619f82"
            ]
        ]
    },
    {
        "id": "24127f78bdda3cf3",
        "type": "function",
        "z": "7a9ca1740ef5409d",
        "g": "0d2cbd1e49d4fed5",
        "name": "process integration \"switch\"",
        "func": "var general = msg.result.general\n\nvar integration = \"switch\"\nif ( msg.result.integration[integration] ) {\n    var integrationValues = msg.result.integration[integration]\n\n    for ( const [key, valueObj] of Object.entries(msg.result.integration[integration]) ) {\n\n        // #########################        \n        // ##  Integration configuration\n        // #########################        \n        var objConfig = {}\n        objConfig.topic = \"homeassistant/\" + integration + \"/\" + general.deviceName + \"/\" + key + \"/config\"\n        objConfig.payload = {\n            device: msg.result.integration.device,\n            name: key.replace(/_/g, \" \").replace(/\\b./g, function (m) { return m.toUpperCase(); }),\n            object_id: general.deviceName + \"_\" + integration + \"_\" + key,\n            unique_id: general.deviceName + \"_\" + integration + \"_\" + key + \"_lora2nodered2mqtt\",\n            command_topic: general.topicDeviceSet + \"/\" + integration + \"/\" + key,\n            state_topic: general.topicDeviceGet + \"/\" + integration + \"/\" + key,\n            json_attributes_topic: general.topicDeviceGet + \"/\" + integration + \"/\" + key,\n            value_template: \"{{ value_json.value }}\",\n            payload_off: \"off\",\n            payload_on: \"on\",\n        }\n        if ( valueObj.entity_category ) {\n            objConfig.payload.entity_category = valueObj.entity_category\n        }\n        if ( valueObj.icon ) {\n            objConfig.payload.icon = valueObj.icon\n        }\n        msg.result.haConfigQueue.push(objConfig)\n\n\n        // #########################        \n        // ##  Integration values\n        // #########################        \n        if ( valueObj.value == integrationValues[key].downlink.on ) {\n            var switchState = \"on\"\n        } else {\n            switchState = \"off\"\n        }\n        var objValue = {\n            topic: general.topicDeviceGet + \"/\" + integration + \"/\" + key,\n            payload: {value: switchState}\n        }\n        msg.result.haValueQueue.push(objValue)\n    }\n}\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 760,
        "wires": [
            [
                "87718f1bfb618752",
                "e35c490a5c8e82b3"
            ]
        ]
    },
    {
        "id": "87718f1bfb618752",
        "type": "function",
        "z": "7a9ca1740ef5409d",
        "g": "0d2cbd1e49d4fed5",
        "name": "process integration \"climate\"",
        "func": "var general = msg.result.general\n\nvar integration = \"climate\"\nif ( msg.result.integration[integration] ) {\n    var integrationValues = msg.result.integration[integration]\n    var key = \"radiator_thermostat\"\n    var valueObj = integrationValues[key]\n\n    var max_temp = 30    //default value MClimate\n    var min_temp = 5     //default value MClimate\n    if ( integrationValues.max_temp ) {\n        max_temp = integrationValues.max_temp.value\n    }\n    if ( integrationValues.min_temp ) {\n        min_temp = integrationValues.min_temp.value\n    }\n\n    // define operational mode\n    if ( integrationValues.attached_backplate ) {\n        integrationValues.system_mode = { value: \"heat\" }\n    } else {\n        integrationValues.system_mode = { value: \"off\" }\n    }\n\n\n    if ( integrationValues[key] ) {\n\n        // #########################        \n        // ##  Integration configuration\n        // #########################        \n        var objConfig = {}\n        objConfig.topic = \"homeassistant/\" + integration + \"/\" + general.deviceName + \"/\" + key + \"/config\"\n        objConfig.payload = {\n            device: msg.result.integration.device,\n            name: key.replace(/_/g, \" \").replace(/\\b./g, function (m) { return m.toUpperCase(); }),\n            object_id: general.deviceName + \"_\" + integration + \"_\" + key,\n            unique_id: general.deviceName + \"_\" + integration + \"_\" + key + \"_lora2nodered2mqtt\",\n            modes: [\"off\", \"heat\"],\n            max_temp: max_temp,\n            min_temp: min_temp,\n            temp_step: 1,\n\n            json_attributes_topic: general.topicDeviceGet + \"/\" + integration + \"/\" + key,\n\n            mode_state_topic: general.topicDeviceGet + \"/\" + integration + \"/\" + \"system_mode\",\n            mode_state_template: \"{{ value_json.value  if value_json.value=='off' else 'heat'}}\",\n\n            current_temperature_topic: general.topicDeviceGet + \"/\" + integration + \"/\" + \"current_temperature\",\n            current_temperature_template: \"{{ value_json.value }}\",\n            \n            temperature_state_topic: general.topicDeviceGet + \"/\" + integration + \"/\" + key,\n            temperature_state_template: \"{{ value_json.value }}\",\n\n            temperature_command_topic: general.topicDeviceSet + \"/\" + integration + \"/\" + key,\n            mode_command_topic: general.topicDeviceSet + \"/\" + integration + \"/\" + \"system_mode\",\n        }\n        if (valueObj.entity_category) {\n            objConfig.payload.entity_category = valueObj.entity_category\n        }\n        if ( valueObj.icon ) {\n            objConfig.payload.icon = valueObj.icon\n        }\n        if ( valueObj.device_class ) {\n            if ( valueObj.device_class != \"None\" ) {\n                objConfig.payload.device_class = valueObj.device_class\n            }\n        }\n        if ( valueObj.unit_of_measurement ) {\n            objConfig.payload.unit_of_measurement = valueObj.unit_of_measurement\n        }\n        msg.result.haConfigQueue.push(objConfig)\n\n\n\n        // #########################        \n        // ##  Integration values\n        // #########################        \n        for (const [key, value] of Object.entries(integrationValues) ) {\n            var objValue = {\n                topic: msg.result.general.topicDeviceGet + \"/\" + integration + \"/\" + key,\n                payload: { value: value.value }\n            }\n            msg.result.haValueQueue.push(objValue)\n        }\n    }\n}\n\n\n\n\n\n\n\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 820,
        "wires": [
            [
                "a7509313985dc281",
                "a98fdf6d2ead0647"
            ]
        ]
    },
    {
        "id": "a7509313985dc281",
        "type": "debug",
        "z": "7a9ca1740ef5409d",
        "g": "0d2cbd1e49d4fed5",
        "name": "debug 184",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1090,
        "y": 820,
        "wires": []
    },
    {
        "id": "e35c490a5c8e82b3",
        "type": "debug",
        "z": "7a9ca1740ef5409d",
        "g": "0d2cbd1e49d4fed5",
        "name": "debug 185",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1090,
        "y": 760,
        "wires": []
    },
    {
        "id": "c1e2d85659619f82",
        "type": "debug",
        "z": "7a9ca1740ef5409d",
        "g": "0d2cbd1e49d4fed5",
        "name": "debug 186",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1090,
        "y": 700,
        "wires": []
    },
    {
        "id": "a98fdf6d2ead0647",
        "type": "function",
        "z": "7a9ca1740ef5409d",
        "g": "0d2cbd1e49d4fed5",
        "name": "process integration \"number\"",
        "func": "var general = msg.result.general\n\nmsg.test = []\n\nvar integration = \"number\"\nif (msg.result.integration[integration]) {\n    var integrationValues = msg.result.integration[integration]\n    var key = \"temperature\"\n    var valueObj = integrationValues[key]\n    var max = 30    //default value MClimate\n    var min = 5     //default value MClimate\n    if ( integrationValues.max ) {\n        max = integrationValues.max.value\n    }\n    if (integrationValues.min) {\n        min = integrationValues.min.value\n    }\n\n    // #########################        \n    // ##  Integration configuration\n    // #########################        \n    if (integrationValues[key]) {\n        var integration = \"number\"\n        var objConfig = {}\n        objConfig.topic = \"homeassistant/\" + integration + \"/\" + general.deviceName + \"/\" + key + \"/config\"\n        objConfig.payload = {\n            device: msg.result.integration.device,\n            name: key.replace(/_/g, \" \").replace(/\\b./g, function (m) { return m.toUpperCase(); }),\n            object_id: general.deviceName + \"_\" + integration + \"_\" + key,\n            unique_id: general.deviceName + \"_\" + integration + \"_\" + key + \"_lora2nodered2mqtt\",\n            max: max,\n            min: min,\n            step: 1,\n            mode: 'slider',\n          \n            state_topic: general.topicDeviceGet + \"/\" + integration + \"/\" + key,\n            value_template: '{{ value_json.value }}',\n\n            command_topic: general.topicDeviceSet + \"/\" + integration + \"/\" + key,\n        }\n        if (valueObj.entity_category) {\n            objConfig.payload.entity_category = valueObj.entity_category\n        }\n        if (valueObj.icon) {\n            objConfig.payload.icon = valueObj.icon\n        }\n        if (valueObj.device_class) {\n            if (valueObj.device_class != \"None\") {\n                objConfig.payload.device_class = valueObj.device_class\n            }\n        }\n        if (valueObj.unit_of_measurement) {\n            objConfig.payload.unit_of_measurement = valueObj.unit_of_measurement\n        }\n        msg.result.haConfigQueue.push(objConfig)\n//        msg.test.push(objConfig)\n\n\n\n\n\n\n\n\n    }\n}\n\n\n\n\n\n\n\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 880,
        "wires": [
            [
                "9d48fbd2e4fc7fb8",
                "88fdb91c60fc52a3"
            ]
        ]
    },
    {
        "id": "9d48fbd2e4fc7fb8",
        "type": "debug",
        "z": "7a9ca1740ef5409d",
        "g": "0d2cbd1e49d4fed5",
        "name": "debug 187",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1090,
        "y": 880,
        "wires": []
    },
    {
        "id": "88fdb91c60fc52a3",
        "type": "function",
        "z": "7a9ca1740ef5409d",
        "g": "0d2cbd1e49d4fed5",
        "name": "process integration \"button\"",
        "func": "var general = msg.result.general\n\nvar integration = \"button\"\nif (msg.settings.joinKey2lorakey2ha[general.join_eui][integration]) {\n    var integrationConfig = msg.settings.joinKey2lorakey2ha[general.join_eui][integration]\n\n    for (const [key, value] of Object.entries(integrationConfig)) {\n        var valueObj = msg.settings.joinKey2lorakey2ha[general.join_eui][integration][key]\n\n        var objConfig = {}\n        objConfig.topic = \"homeassistant/\" + integration + \"/\" + general.deviceName + \"/\" + key + \"/config\"\n        objConfig.payload = {\n            device: msg.result.integration.device,\n            name: key.replace(/_/g, \" \").replace(/\\b./g, function (m) { return m.toUpperCase(); }),\n            object_id: general.deviceName + \"_\" + integration + \"_\" + key,\n            unique_id: general.deviceName + \"_\" + integration + \"_\" + key + \"_lora2nodered2mqtt\",\n            command_topic: general.topicDeviceSet + \"/\" + integration + \"/\" + key,\n            payload_press: \"request\",\n        }\n        if (valueObj.entity_category) {\n            objConfig.payload.entity_category = valueObj.entity_category\n        }\n        if (valueObj.icon) {\n            objConfig.payload.icon = valueObj.icon\n        }\n        if (valueObj.device_class) {\n            if (valueObj.device_class != \"None\") {\n                objConfig.payload.device_class = valueObj.device_class\n            }\n        }\n        if (valueObj.unit_of_measurement) {\n            objConfig.payload.unit_of_measurement = valueObj.unit_of_measurement\n        }\n        msg.result.haConfigQueue.push(objConfig)\n    }\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 940,
        "wires": [
            [
                "35fbdc64e3612f31",
                "b8052c2fe111f8de"
            ]
        ]
    },
    {
        "id": "35fbdc64e3612f31",
        "type": "debug",
        "z": "7a9ca1740ef5409d",
        "g": "0d2cbd1e49d4fed5",
        "name": "debug 188",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1090,
        "y": 940,
        "wires": []
    },
    {
        "id": "b4c66b2ede456c5d",
        "type": "mqtt out",
        "z": "7a9ca1740ef5409d",
        "d": true,
        "g": "0d2cbd1e49d4fed5",
        "name": "HomeAssistant",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d02c3570ba850c4f",
        "x": 1100,
        "y": 1260,
        "wires": []
    },
    {
        "id": "864f743fd8ced61e",
        "type": "mqtt in",
        "z": "7a9ca1740ef5409d",
        "d": true,
        "g": "0d2cbd1e49d4fed5",
        "name": "TTN - app-02 | v3/+/devices/+/up/#",
        "topic": "v3/+/devices/+/up/#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "34b3812930585fe6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 280,
        "y": 300,
        "wires": [
            [
                "ffc1db4fc55358df",
                "2010e6310f061b76"
            ]
        ]
    },
    {
        "id": "ed7e02f1a8c6655b",
        "type": "mqtt in",
        "z": "7a9ca1740ef5409d",
        "d": true,
        "g": "0d2cbd1e49d4fed5",
        "name": "TTN - app-01 | v3/+/devices/+/up/#",
        "topic": "v3/+/devices/+/up/#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "364cba795bd47ac5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 280,
        "y": 240,
        "wires": [
            [
                "ffc1db4fc55358df",
                "7ed3296465174056"
            ]
        ]
    }
]